@import '../scss-variables';
.mynah-ui-gradient-background {
    transition: var(--mynah-short-rev-transition);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    opacity: 0.6;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    z-index: 0;

    &:before,
    &:after {
        content: '';
        position: absolute;
        left: -200px;
        right: -200px;
        top: 0;
        bottom: 0;
        width: auto;
        height: auto;
        filter: blur(30px);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        z-index: 10;
    }
    &:before {
        background-image: linear-gradient(
            to bottom,
            var(--mynah-color-bg) 0px,
            var(--mynah-color-bg) 150px,
            var(--mynah-color-bg) 55%,
            rgba(0, 0, 0, 0) 75%,
            rgba(0, 0, 0, 0) 100%
        );
        top: -150px;
    }
    &:after {
        background-image: linear-gradient(
            to top,
            var(--mynah-color-bg) 0px,
            var(--mynah-color-bg) 150px,
            var(--mynah-color-bg) 200px,
            rgba(0, 0, 0, 0) 300px,
            rgba(0, 0, 0, 0) 100%
        );
        bottom: -150px;
    }

    > svg {
        min-width: 100%;
        z-index: 5;
    }
}
