@import '../variables';
.mynah-button {
    border: none;
    min-width: var(--mynah-sizing-8);
    height: var(--mynah-sizing-8);
    border-radius: var(--mynah-button-radius);
    background-color: var(--mynah-color-button);
    color: var(--mynah-color-button-reverse);
    box-shadow: var(--mynah-shadow-button);
    font-family: var(--mynah-font-family);
    cursor: pointer;
    transition: var(--mynah-very-short-transition);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: none;
    overflow: hidden;
    position: relative;
    transform: translate3d(0, 0, 0) scale(1.00001);
    padding-left: var(--mynah-sizing-2);
    padding-right: var(--mynah-sizing-2);
    gap: var(--mynah-sizing-1);
    filter: brightness(0.925);
    opacity: 1;
    line-height: var(--mynah-line-height);
    margin-top: var(--mynah-border-width);
    margin-bottom: var(--mynah-border-width);
    &:after {
        content: '';
        pointer-events: none;
        transition: var(--mynah-very-short-transition);
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: brightness(1.35) saturate(0.75);
        opacity: 0;
        border-radius: inherit;
        background-color: currentColor;
        transform: translate3d(-7%, 0, 0) scale(0.93);
    }
    &[disabled='disabled'] {
        opacity: 0.25 !important;
        pointer-events: none;
    }
    &.mynah-button-secondary {
        background-color: rgba(0, 0, 0, 0);
        color: currentColor;
        box-sizing: border-box;
        &.mynah-button-border {
            border: var(--mynah-border-width) solid currentColor !important;
        }
        @each $status in $mynah-statuses {
            &.status-#{$status} {
                color: var(--mynah-color-status-#{$status}) !important;
            }
        }
        box-shadow: none;
    }
    &:active,
    &:focus-visible,
    &:hover {
        filter: brightness(1);
        &:after {
            transform: translate3d(0%, 0, 0);
            opacity: 0.15;
        }
    }
    &.mynah-icon-button {
        width: var(--mynah-sizing-10);
        height: var(--mynah-sizing-10);
        border-radius: 0;
    }
    > span {
        white-space: nowrap;
        transition: var(--mynah-very-long-transition);
        overflow: hidden;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
