@import '../scss-variables';
.mynah-button {
    border: none;
    min-width: var(--mynah-sizing-8);
    border-radius: var(--mynah-button-radius);
    background-color: var(--mynah-color-button);
    color: var(--mynah-color-button-reverse);
    box-shadow: var(--mynah-shadow-button);
    font-family: var(--mynah-font-family);
    font-size: var(--mynah-font-size-medium) !important;
    cursor: pointer;
    transition: var(--mynah-very-short-transition);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: none;
    overflow: hidden;
    position: relative;
    transform: translate3d(0, 0, 0) scale(1.00001);
    padding: var(--mynah-sizing-2);
    gap: var(--mynah-sizing-1);
    filter: brightness(0.925);
    opacity: 1;
    line-height: var(--mynah-line-height);
    margin-top: var(--mynah-border-width);
    margin-bottom: var(--mynah-border-width);
    &::after {
        content: '';
        pointer-events: none;
        transition: var(--mynah-very-short-transition);
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: inherit;
        background-color: currentColor;
        transform: translate3d(-7%, 0, 0) scale(0.93);
    }
    &[disabled='disabled'] {
        opacity: 0.25 !important;
        cursor: default;
    }
    &.mynah-button-secondary {
        background-color: rgba(0, 0, 0, 0);
        color: currentColor;
        box-sizing: border-box;
        &.mynah-button-border {
            border: var(--mynah-border-width) solid currentColor !important;
        }
        box-shadow: none;
        @each $status in $mynah-statuses {
            &.status-#{$status} {
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: var(--mynah-color-status-#{$status});
                    opacity: 0.08;
                }
                &::after {
                    color: var(--mynah-color-status-#{$status});
                }
                border: var(--mynah-border-width) solid var(--mynah-color-status-#{$status}) !important;
            }
        }
    }
    &.status-clear {
        &,
        &.mynah-button-border {
            border-color: transparent !important;
        }
        &::before {
            background-color: rgba(0, 0, 0, 0) !important;
        }
    }
    &.status-main {
        color: var(--mynah-color-gradient-alternate);
        background-image: var(--mynah-color-gradient-main-half);
        background-repeat: no-repeat;
        background-size: 105% 105%;
        background-position: center center;
        &.mynah-button-border {
            border: none !important;
        }
    }
    &:active,
    &:focus-visible {
        &::before {
            opacity: 0.60 !important;
        }
    }
    &:hover {
        &::after {
            transform: translate3d(0%, 0, 0);
            opacity: 0.15;
        }
    }
    &.mynah-icon-button {
        width: var(--mynah-sizing-10);
        height: var(--mynah-sizing-10);
        border-radius: 0;
    }
    > span {
        white-space: nowrap;
        transition: var(--mynah-very-long-transition);
        overflow: hidden;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: var(--mynah-sizing-1);
        margin-left: var(--mynah-sizing-1);
    }
}
