button.mynah-button {
    border: none;
    min-width: var(--mynah-sizing-8);
    height: var(--mynah-sizing-8);
    border-radius: var(--mynah-button-radius);
    background-color: var(--mynah-color-button);
    color: var(--mynah-color-button-reverse);
    box-shadow: var(--mynah-shadow-button);
    cursor: pointer;
    transition: var(--mynah-very-short-transition);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: none;
    overflow: hidden;
    position: relative;
    transform: translate3d(0, 0, 0) scale(1.00001);
    padding-left: var(--mynah-sizing-3);
    padding-right: var(--mynah-sizing-3);
    gap: var(--mynah-sizing-2);
    filter: brightness(0.9);
    opacity: 0.85;
    line-height: var(--mynah-line-height);
    &.mynah-bottom-block-close-button {
        position: absolute;
        align-self: flex-end;
        transform: translate3d(var(--mynah-sizing-2), calc(-100% - var(--mynah-sizing-6)), 0px);
        background-color: var(--mynah-card-bg);
        color: var(--mynah-color-text-default);
    }
    &[disabled='disabled'] {
        opacity: 0.25 !important;
        pointer-events: none;
    }
    &.mynah-button-secondary {
        background-color: transparent;
        color: inherit;
        box-shadow: none;
        opacity: 0.75;
        height: var(--mynah-sizing-6);
        padding-left: var(--mynah-sizing-1);
        padding-right: var(--mynah-sizing-1);
        border-radius: 0;
        &:focus-visible,
        &:hover {
            opacity: 1;
        }
        &:active {
            box-shadow: none;
        }
    }
    &:focus-visible,
    &:hover {
        filter: brightness(1);
        opacity: 1;
    }
    &:active {
        filter: brightness(0.9);
        opacity: 0.85;
    }
    &.mynah-icon-button {
        width: var(--mynah-sizing-10);
        height: var(--mynah-sizing-10);
        border-radius: 0;
    }
    > span {
        white-space: nowrap;
        font-size: var(--mynah-font-size-medium);
        max-width: 35vw;
        transition: var(--mynah-very-long-transition);
        overflow: hidden;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
