.pointer {
    cursor: pointer;
}

.mynah-card {
    text-decoration: none;
    outline: none;
    position: relative;
    transition: var(--mynah-short-transition-rev);
    padding: var(--mynah-sizing-5);
    background-color: var(--mynah-card-bg);
    border-radius: var(--mynah-card-radius);
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--mynah-sizing-2);
    transform: translate3d(0, 0, 0);
    flex: auto 0 0;
    width: 100%;
    overflow: hidden;
    border: 1px solid var(--mynah-color-border-default);

    > * {
        z-index: 10;
        position: relative;
    }

    > .mynah-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 1;
        gap: var(--mynah-sizing-2);
        transition: var(--mynah-very-short-transition);
        > .mynah-source-thumbnail {
            font-style: normal;
            font-weight: normal;
            display: inline-flex;
            width: var(--mynah-sizing-8);
            height: var(--mynah-sizing-8);
            font-variant: normal;
            text-transform: none;
            border: 1px solid var(--mynah-color-border-default);
            border-radius: 100%;
            background-size: 85%;
            background-position: center center;
            background-repeat: no-repeat;
            align-self: flex-start;
            box-sizing: border-box;
            background-color: var(--mynah-card-bg);
            position: relative;
            overflow: hidden;
            &:after {
                content: "";
                pointer-events: none;
                box-sizing: border-box;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: auto;
                height: auto;
                border: 2px solid var(--mynah-card-bg);
                border-radius: 100%;
            }
        }
        > .mynah-card-title-wrapper {
            flex: 1 1 0;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            gap: var(--mynah-sizing-half);
            max-width: 100%;
            overflow: hidden;
            cursor: pointer;
            &:hover > .mynah-card-title > .mynah-card-expand-icon {
                opacity: 0.75;
                align-self: baseline;
            }
            > .mynah-card-title {
                font-size: var(--mynah-font-size-medium);
                font-weight: 500;
                color: var(--mynah-color-text-strong);
                width: 100%;
                display: inline-flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: flex-start;
                gap: var(--mynah-sizing-2);
                white-space: normal;
                text-overflow: ellipsis;
                text-decoration: none;
                outline: none;
                overflow: hidden;
                > .mynah-card-expand-icon {
                    transition: var(--mynah-short-transition-rev);
                    opacity: 0;
                    font-size: var(--mynah-font-size-xsmall);
                    display: inline;
                    padding: var(--mynah-sizing-1);
                    border: 1px solid currentColor;
                    border-radius: 2px;
                }
            }
            > .mynah-card-url {
                font-size: var(--mynah-font-size-xsmall);
                font-weight: 300;
                color: var(--mynah-color-text-link);
                white-space: nowrap;
                text-overflow: ellipsis;
                text-decoration: none;
                outline: none;
                overflow: hidden;
                max-width: 100%;
                position: relative;
                padding-bottom: var(--mynah-sizing-1);
                display: inline-block;
                transition: var(--mynah-short-transition-rev);
                &:after {
                    content: "";
                    position: relative;
                    display: block;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    border-radius: var(--mynah-sizing-half);
                    background-color: currentColor;
                    transform: translate3d(-30%, 0, 0);
                    transition: var(--mynah-short-transition-rev);
                    opacity: 0;
                }
                &:hover {
                    &:after {
                        transform: translate3d(0, 0, 0);
                        opacity: 1;
                    }
                }
                > span {
                    &:not(:last-child):after {
                        content: ">";
                        margin-left: var(--mynah-sizing-1);
                        margin-right: var(--mynah-sizing-1);
                    }
                    &:nth-child(3) ~ span:not(:last-child) {
                        display: none;
                    }
                    &:last-child {
                        font-weight: bold;
                    }
                    &:nth-child(3):not(:last-child):after {
                        content: "> ... >";
                    }
                }
            }
            > .mynah-title-meta-block {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: flex-start;
                gap: var(--mynah-sizing-1);
                margin-bottom: var(--mynah-sizing-half);
                &:empty {
                    display: none;
                }
                > .mynah-title-meta-block-item {
                    display: inline-flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: flex-start;
                    gap: var(--mynah-sizing-1);
                    padding: calc(var(--mynah-sizing-half) * 3);
                    border: 1px solid var(--mynah-color-border-default);
                    border-radius: var(--mynah-button-radius);
                    opacity: 0.75;
                    > .mynah-icon {
                        opacity: 0.5;
                        font-size: var(--mynah-font-size-medium);
                        color: var(--mynah-color-text-weak);
                    }
                    > .mynah-title-meta-block-item-text {
                        font-size: var(--mynah-font-size-xxsmall);
                        color: var(--mynah-color-text-weak);
                        &::first-letter {
                            text-transform: capitalize;
                        }
                    }
                    &.approved-answer {
                        border-color: green;
                        position: relative;
                        &:before {
                            content: "";
                            border-radius: var(--mynah-button-radius);
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: green;
                            opacity: 0.04;
                        }
                        > .mynah-icon {
                            opacity: 1;
                            color: green;
                            border-radius: var(--mynah-button-radius);
                            width: var(--mynah-sizing-3);
                            height: var(--mynah-sizing-3);
                        }
                    }
                }
            }
        }
    }
    > .mynah-card-center {
        border: var(--mynah-button-border-width) solid var(--mynah-border-default);
        width: 100%;
        color: var(--mynah-color-text-default);
        flex: 1 1 0%;
        overflow: hidden;
        line-height: normal;
        pointer-events: all;
        z-index: 100;
        padding-left: var(--mynah-sizing-10);
        display: flex;
        flex-flow: column nowrap;
        gap: var(--mynah-sizing-2);
        box-sizing: border-box;

        > *:not(pre) {
            font-size: var(--mynah-font-size-medium);
        }

        > .mynah-card-body {
            flex: 1;
            overflow: hidden;
            position: relative;
            display: block;
            &,
            & > div {
                > * {
                    margin-block-start: 0.45em;
                    margin-block-end: 0.45em;
                    user-select: text;
                    &:empty {
                        display: none;
                    }
                }
                .amzn-mynah-search-result-highlight {
                    background-color: var(--mynah-color-highlight);
                    color: var(--mynah-color-highlight-text);
                }
                .amzn-mynah-search-result-ellipsis {
                    display: inline-block;
                    position: relative;
                    padding-left: var(--mynah-sizing-2);
                    margin-top: var(--mynah-sizing-1);
                    margin-bottom: var(--mynah-sizing-1);
                    font-size: calc(1em + var(--mynah-sizing-1)) !important;
                    user-select: none;
                    cursor: default;
                    height: var(--mynah-sizing-7);

                    &:before {
                        pointer-events: none;
                        content: "";
                        width: calc(1em + var(--mynah-sizing-2));
                        height: calc(1em + var(--mynah-sizing-2));
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-color: currentColor;
                        opacity: 0.1;
                        border-radius: var(--mynah-sizing-1);
                    }
                }
            }
        }

        .mynah-card-under-body-button {
            align-self: flex-end;
            height: auto;
            opacity: 0;
            > span {
                padding: 0;
                padding-left: var(--mynah-sizing-1);
                font-size: var(--mynah-font-size-xsmall);
            }
        }
    }

    &:hover .mynah-card-under-body-button {
        opacity: 1;
    }

    &.mynah-card-skeleton {
        pointer-events: none !important;
        * {
            color: rgba(0, 0, 0, 0) !important;
            pointer-events: none !important;
        }
        i {
            color: var(--mynah-color-light) !important;
        }
        .mynah-vote-text,
        .mynah-card-title {
            border-radius: var(--mynah-sizing-base);
            background-color: var(--mynah-color-light);
        }
        .mynah-card-url {
            border-radius: var(--mynah-sizing-base);
            background-color: var(--mynah-color-text-link);
            opacity: 0.15 !important;
            line-height: 0.5rem;
        }
        .mynah-card-center {
            p {
                z-index: 0;
                border-radius: var(--mynah-sizing-base);
                background-color: var(--mynah-color-light);
            }
            code {
                background-color: var(--mynah-color-code-text);
                opacity: 0.25;
                line-height: 150%;
            }
        }
        .mynah-card-badges span {
            border-radius: var(--mynah-sizing-base);
            background-color: var(--mynah-color-light);
        }

        &:last-child {
            -webkit-mask-image: var(--mynah-mask-image-skeleton);
            -webkit-mask-size: 100% 100%;
            mask-image: var(--mynah-mask-image-skeleton);
            mask-size: 100% 100%;
        }

        &:after {
            content: "";
            opacity: 1;
            background-color: var(--mynah-card-bg);
            transform: translate3d(0, 0, 0);
            border: none;
            background-image: linear-gradient(
                -75deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0) 30%,
                rgba(0, 0, 0, 0.05) 50%,
                rgba(255, 255, 255, 0) 70%,
                rgba(255, 255, 255, 0) 100%
            );
            background-size: 500% 500%;
            animation: glass-reflection 2000ms 1000ms linear infinite;
        }
    }

    &.mynah-card-compact {
        padding: var(--mynah-sizing-2);
        gap: var(--mynah-sizing-1);
        > .mynah-card-header {
            gap: var(--mynah-sizing-1);
            > .mynah-source-thumbnail {
                width: var(--mynah-sizing-6);
                height: var(--mynah-sizing-6);
                margin-right: var(--mynah-sizing-1);
            }
            > .mynah-card-title-wrapper {
                gap: 0;
                > .mynah-card-title {
                    font-size: var(--mynah-font-size-small);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                    display: block;
                    > .mynah-card-expand-icon {
                        display: none;
                    }
                }
                > .mynah-card-url {
                    font-size: var(--mynah-font-size-xsmall);
                }
                > .mynah-title-meta-block {
                    display: none;
                }
            }
        }
        > .mynah-card-center {
            display: none;
        }
        &.mynah-card-compact-flat {
            gap: 0;
            &,
            &:after {
                background-color: transparent;
                border-color: transparent;
            }

            > .mynah-card-center {
                > .mynah-card-body {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    .mynah-syntax-highlighter {
                        display: none;
                    }
                    &,
                    & * {
                        font-size: var(--mynah-font-size-xsmall);
                    }
                    max-height: 50px;
                    color: var(--mynah-color-text-weak);
                }
            }
        }
        > .mynah-card-center {
            padding-left: var(--mynah-sizing-8);
        }
        .mynah-syntax-highlighter > pre {
            padding: var(--mynah-sizing-1);
        }
    }
}
