.mynah-chat-related-content-preview-wrapper {
    max-width: 80vw;
    max-height: 80vh;
}
.mynah-chat-wrapper {
    > .mynah-chat-items-container {
        display: flex;
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        flex-flow: column nowrap;
        gap: var(--mynah-sizing-3);
        align-items: flex-start;
        padding-top: var(--mynah-sizing-7);
        padding-bottom: var(--mynah-sizing-7);
        .mynah-chat-item-card {
            display: inline-flex;
            flex-flow: column nowrap;
            position: relative;
            gap: var(--mynah-sizing-4);
            max-width: 90%;
            transition: var(--mynah-short-transition-bounce);
            transform: translate3d(0, var(--mynah-sizing-10), 0) scale(1, 0.98);
            opacity: 0;
            transform-origin: center bottom;
            &:empty {
                display: none;
            }
            &:has(> .mynah-card):last-child {
                margin-bottom: calc(100vh - (var(--mynah-sizing-16) * 3));
            }
            a {
                pointer-events: bounding-box;
                color: var(--mynah-color-text-link);
            }
            &.reveal {
                opacity: 1;
                transform: translate3d(0, 0, 0) scale(1, 1);
            }
            &.remove {
                &,
                & * {
                    pointer-events: none !important;
                }
                transition: var(--mynah-pretty-long-transition);
                opacity: 0;
                transform: translate3d(0, calc(-1 * var(--mynah-sizing-10)), 0) scale(1, 0.98);
            }
            > .mynah-chat-item-card-icon-wrapper {
                background-color: var(--mynah-color-alternate);
                color: var(--mynah-color-alternate-reverse);
                padding: var(--mynah-sizing-2);
                border-radius: 100%;
            }
            > .mynah-card {
                > .mynah-card-center {
                    padding-left: 0;
                    & > .mynah-card-body > div {
                        > .mynah-syntax-highlighter {
                            filter: contrast(1.15) brightness(0.85);
                        }
                        > h1,
                        > h2,
                        > h3,
                        > h4 {
                            &:first-child {
                                margin-top: 0;
                            }
                        }
                    }
                }
                :hover::before {
                    box-shadow: var(--mynah-shadow-card) !important;
                }
            }

            > .mynah-chat-item-followup-question {
                display: inline-flex;
                flex-flow: column nowrap;
                position: relative;
                gap: var(--mynah-sizing-2);
                > .mynah-chat-item-followup-question-text {
                    color: var(--mynah-color-text-weak);
                    font-size: var(--mynah-font-size-xsmall);
                    font-style: italic;
                }
                > .mynah-chat-item-followup-question-options-wrapper {
                    display: inline-flex;
                    flex-flow: row wrap;
                    max-width: 100%;
                    gap: var(--mynah-sizing-2);
                    > .mynah-chat-item-followup-question-option {
                        padding: var(--mynah-sizing-2);
                        background-color: var(--mynah-color-alternate);
                        color: var(--mynah-color-alternate-reverse);
                        border-radius: var(--mynah-button-radius);
                        cursor: pointer;
                        font-size: 80%;
                        max-width: 100%;
                        overflow: hidden;
                    }
                }
            }
            > .mynah-chat-item-card-references-wrapper {
                width: 100%;
                display: flex;
                flex-flow: column nowrap;
                gap: var(--mynah-sizing-2);
                overflow: hidden;
                position: relative;
                > .mynah-button.mynah-chat-item-card-references-left-scroll-button,
                > .mynah-button.mynah-chat-item-card-references-right-scroll-button {
                    position: absolute;
                    z-index: 10000;
                    bottom: 0;
                    opacity: 1;
                    background-color: var(--mynah-color-bg);
                    filter: none !important;
                    height: calc(100% - var(--mynah-sizing-4));
                    border-radius: 0;
                    min-width: var(--mynah-sizing-4);
                    padding: 0;
                    transition: var(--mynah-long-transition);
                    &.hidden {
                        opacity: 0;
                        pointer-events: none !important;
                    }
                }
                > .mynah-button.mynah-chat-item-card-references-left-scroll-button {
                    box-shadow: 10px 0 20px 5px var(--mynah-color-bg);
                    left: 0;
                }
                > .mynah-button.mynah-chat-item-card-references-right-scroll-button {
                    box-shadow: -10px 0 20px 5px var(--mynah-color-bg);
                    right: 0;
                }
                > .mynah-chat-item-card-references-container {
                    display: flex;
                    overflow-x: auto;
                    overflow-y: hidden;
                    width: 100%;
                    scroll-snap-type: x mandatory;
                    scroll-behavior: smooth;
                    > .mynah-chat-item-card-reference-item {
                        width: 40%;
                        scroll-snap-align: start;
                        &:not(:first-child) {
                            padding-left: var(--mynah-sizing-9);
                            margin-left: calc(-1 * var(--mynah-sizing-7));
                        }
                        &:last-child {
                            margin-right: var(--mynah-sizing-12);
                        }
                    }
                }
            }

            > .mynah-chat-item-card-related-content,
            > .mynah-chat-item-card-references-wrapper {
                > .mynah-chat-item-card-references-title,
                > .mynah-chat-item-card-related-content-title {
                    color: var(--mynah-color-text-weak);
                    font-size: var(--mynah-font-size-xsmall);
                }
            }
            > .mynah-chat-item-card-related-content {
                display: flex;
                flex-flow: column nowrap;
                gap: var(--mynah-sizing-2);
                overflow: hidden;
                position: relative;
                > .mynah-chat-item-card-related-content-item {
                    max-width: 100%;
                    .amzn-mynah-search-result-highlight {
                        background-color: inherit;
                        color: inherit;
                    }
                }
                &:not(.expanded) {
                    @include list-fader-bottom();
                    > .mynah-chat-item-card-related-content-item {
                        &:not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)) {
                            display: none;
                        }
                        &:nth-child(4) {
                            margin-bottom: calc(-1 * var(--mynah-sizing-5));
                            pointer-events: none;
                        }
                    }
                    + .mynah-chat-item-card-related-content-show-more {
                        display: inline-flex;
                        max-width: 80%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                        pointer-events: all;
                        cursor: pointer;
                        z-index: 10000;
                        margin-top: calc(-1 * var(--mynah-sizing-1));
                        color: transparent;
                        align-self: center;
                        > i {
                            position: absolute;
                            color: var(--mynah-color-text-default);
                            font-size: var(--mynah-font-size-medium);
                        }
                    }
                }
            }
            > .mynah-chat-item-card-related-content-show-more {
                display: none;
            }
            > .mynah-chat-item-card-related-content-show-all {
                > span {
                    font-size: var(--mynah-font-size-xsmall);
                }
                margin-top: calc(-1 * var(--mynah-sizing-4));
                align-self: center;
            }
            &.mynah-chat-item-system-prompt,
            &.mynah-chat-item-prompt {
                align-self: flex-end;
                > .mynah-chat-item-card-icon-wrapper {
                    align-self: flex-end;
                }
                > .mynah-chat-item-card-related-content {
                    align-items: flex-end;
                }

                > .mynah-chat-item-card-related-content > .mynah-card,
                > .mynah-card {
                    background-color: var(--mynah-card-bg);
                    box-shadow: 0px 0px 5px -5px var(--mynah-color-button);
                    padding: var(--mynah-sizing-4);
                    &:after {
                        background-color: var(--mynah-color-button);
                        opacity: 0.07;
                    }
                }
                > .mynah-chat-item-card-related-content > .mynah-card > .mynah-card-center {
                    display: none;
                }
            }
            &.mynah-chat-item-system-prompt {
                > .mynah-card {
                    box-shadow: 0px 0px 5px -5px var(--mynah-color-status-warning);
                    &:after {
                        background-color: var(--mynah-color-status-warning);
                    }
                }
            }
            &.mynah-chat-item-answer,
            &.mynah-chat-item-answer-stream {
                padding-left: var(--mynah-sizing-2);
                > .mynah-chat-item-card-icon-wrapper {
                    align-self: flex-start;
                }
                > .mynah-chat-item-card-related-content {
                    > .mynah-chat-item-card-related-content-item > .mynah-card-compact {
                        opacity: 1;
                        > .mynah-card-header {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    > .mynah-chat-items-spinner {
        display: inline-flex;
        margin: 0 auto;
        width: 100px;
        height: 0px;
        overflow: visible;
        position: relative;
        gap: var(--mynah-sizing-2);
        justify-content: center;
        align-items: end;
        transform: translate3d(0px, var(--mynah-sizing-1), 0px);
        opacity: 0;
        transition: var(--mynah-short-transition-rev);
        &.loading {
            transform: translate3d(0px, calc(-1 * var(--mynah-sizing-2)), 0px);
            opacity: 0.5;
            > span {
                animation: bounce 500ms infinite cubic-bezier(0.5, 0, 0.15, 1) alternate;
            }
        }
        > span {
            display: inline-block;
            width: var(--mynah-sizing-2);
            height: var(--mynah-sizing-2);
            border-radius: var(--mynah-sizing-2);
            background-color: var(--mynah-color-alternate);
            &:nth-child(2) {
                animation-delay: 150ms;
            }
            &:nth-child(3) {
                animation-delay: 300ms;
            }
        }
    }
    > .mynah-chat-prompt-wrapper {
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
        padding: var(--mynah-sizing-2);
        box-sizing: border-box;
        background-color: var(--mynah-card-bg);
        box-shadow: var(--mynah-shadow-generic);
        border-radius: var(--mynah-card-radius);
        gap: var(--mynah-sizing-2);
        > .mynah-chat-prompt-input-wrapper {
            display: flex;
            flex-flow: row nowrap;
            overflow: hidden;
            box-sizing: border-box;
            gap: var(--mynah-sizing-2);
            align-items: center;
            > .mynah-chat-prompt-input {
                font-family: "Amazon Ember";
                flex: 1 1 0;
                border: none;
                resize: none;
                background-color: rgba(0, 0, 0, 0);
                font-size: var(--mynah-font-size-large);
                color: var(--mynah-color-text-input);
                outline: none;
                width: 100%;
                & + button + button.mynah-search-button-cancel-state {
                    background-color: var(--mynah-color-code-text);
                }
                &:placeholder-shown + button + button:not([disabled]):not(.mynah-search-button-cancel-state) {
                    pointer-events: none;
                    opacity: 0.25;
                }
            }
        }
        > .mynah-chat-prompt-attachment-wrapper {
            &:empty {
                display: none;
            }
            > .mynah-chat-attachment-item {
                position: relative;
                display: inline-block;
                max-width: 250px;
                cursor: pointer;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: var(--mynah-card-radius);
                    opacity: 0;
                    transition: var(--mynah-short-transition-rev);
                    z-index: 8000;
                    background-color: var(--mynah-color-alternate);
                }
                > .mynah-chat-attachment-delete-icon {
                    color: var(--mynah-color-alternate-reverse);
                    opacity: 0;
                    transition: var(--mynah-short-transition-rev);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 30px;
                    height: 30px;
                    margin-left: -15px;
                    margin-top: -15px;
                    z-index: 9000;
                    > i {
                        width: 30px;
                        height: 30px;
                    }
                }
                &:hover {
                    &:after {
                        opacity: 0.75;
                    }
                    > .mynah-chat-attachment-delete-icon {
                        opacity: 1;
                    }
                }
                > .mynah-card {
                    pointer-events: none !important;
                    * {
                        pointer-events: none !important;
                    }
                    > .mynah-card-center {
                        display: none;
                    }
                }
            }
        }
    }
}
