.mynah-form-input-wrapper {
    position: relative;
    display: flex;
    box-sizing: border-box;
    gap: var(--mynah-sizing-2);
    flex-flow: column nowrap;
    &[disabled] {
        .mynah-form-input {
            opacity: 0.5 !important;
        }
        &,
        & * {
            pointer-events: none !important;
        }
    }
    > .mynah-form-input-label {
        > .mynah-ui-form-item-mandatory-title {
            display: inline-flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: var(--mynah-sizing-1);
            > .mynah-ui-icon {
                color: var(--mynah-color-status-warning);
                opacity: 0.75;
                font-size: 75%;
            }
        }
    }
    .mynah-form-input-container {
        position: relative;
        display: flex;
        box-sizing: border-box;
        justify-content: flex-end;
        align-items: center;
        > .mynah-form-input {
            width: 100%;
            left: 0;
            color: var(--mynah-color-text-default);
            border-radius: var(--mynah-input-radius);
            &::placeholder {
                color: var(--mynah-color-text-weak);
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            option.empty-option {
                font-style: italic;
                opacity: 0.5;
            }
            &:not(.no-border) {
                padding: var(--mynah-sizing-3);
                border: var(--mynah-border-width) solid var(--mynah-color-border-default);
                background-color: var(--mynah-card-bg);
            }
            -webkit-appearance: none;
            appearance: none;
            text-indent: 1px;
            text-overflow: clip;
            outline: none;
            > .mynah-form-input-radio-wrapper {
                display: inline-flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                &:not(:last-child) {
                    margin-right: var(--mynah-sizing-4);
                }
                > .mynah-form-input-radio-label {
                    display: inline-flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    gap: var(--mynah-sizing-1);
                    cursor: pointer;
                    > input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                        &:checked + .mynah-form-input-radio-check {
                            border-color: var(--mynah-color-button);
                            > .mynah-ui-icon {
                                transform: scale(0.75);
                                color: var(--mynah-card-bg);
                                opacity: 1;
                            }
                            &::after {
                                transform: scale(1);
                                background-color: var(--mynah-color-button);
                                opacity: 1;
                            }
                        }
                    }
                    > .mynah-form-input-radio-check {
                        position: relative;
                        transition: var(--mynah-bottom-panel-transition);
                        width: var(--mynah-sizing-6);
                        height: var(--mynah-sizing-6);
                        border-radius: var(--mynah-sizing-3);
                        overflow: hidden;
                        box-sizing: border-box;
                        border: var(--mynah-border-width) solid var(--mynah-color-border-default);
                        display: inline-flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                        > .mynah-ui-icon {
                            position: relative;
                            transition: inherit;
                            transform: scale(0);
                            transform-origin: center center;
                            color: var(--mynah-color-button);
                            z-index: 10;
                        }
                        &::after {
                            $edgeSpace: calc(0 * var(--mynah-border-width));
                            content: '';
                            transition: inherit;
                            position: absolute;
                            top: $edgeSpace;
                            right: $edgeSpace;
                            bottom: $edgeSpace;
                            left: $edgeSpace;
                            background-color: var(--mynah-color-border-default);
                            transform: scale(0.5);
                            transform-origin: center center;
                            opacity: 0;
                            border-radius: inherit;
                            z-index: 5;
                        }
                    }
                }
            }

            > .mynah-feedback-form-stars-container {
                transition: var(--mynah-short-rev-transition);
                transform-origin: right bottom;
                display: inline-flex;
                flex-flow: row nowrap;
                > .mynah-feedback-form-star {
                    cursor: pointer;
                    padding-right: var(--mynah-sizing-1);
                    color: var(--mynah-color-button);
                    font-size: 1.5rem;
                    transition: var(--mynah-very-short-transition);
                    > .mynah-ui-icon {
                        transition: var(--mynah-very-short-transition);
                        opacity: 0.4;
                        transform: translate3d(0, 0, 0) scale(0.6);
                    }
                }
                &[selected-star]:not(:hover) > :not(.mynah-feedback-form-star.selected ~ .mynah-feedback-form-star),
                &:hover > :not(.mynah-feedback-form-star:hover ~ .mynah-feedback-form-star) {
                    > .mynah-ui-icon {
                        opacity: 1;
                        transform: translate3d(0, 0, 0) scale(1);
                    }
                }
            }
        }
        > textarea.mynah-form-input {
            font-family: var(--mynah-font-family);
            resize: none;
            font-size: var(--mynah-font-size-medium);
            color: var(--mynah-color-text-input);
            outline: none;
        }
        > .mynah-select-handle {
            position: absolute;
            color: var(--mynah-color-text-weak);
            pointer-events: none;
            transform: translateX(-100%);
        }
    }
}

.mynah-chat-item-form-items-container {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--mynah-sizing-5);
    overflow: hidden;
    padding-bottom: var(--mynah-sizing-1);
}
.mynah-chat-item-buttons-container {
    display: flex;
    flex-flow: row-reverse wrap;
    gap: var(--mynah-sizing-2);
    overflow: hidden;
    padding-top: var(--mynah-sizing-1);
    padding-bottom: var(--mynah-sizing-1);
    justify-content: flex-end;
    align-items: center;
}
