$smoothbezier: cubic-bezier(0.25, 0, 0, 1);
$smoothduration: 400ms;
#mynah-wrapper {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    width: 100%;
    max-width: var(--mynah-max-width);
    box-sizing: border-box;
    height: 100%;
    position: relative;
    overflow: hidden;
    justify-content: stretch;
    align-items: stretch;

    > .mynah-ui-tab-contents-wrapper {
        flex: 1;
        position: relative;
        &:first-child {
            > .mynah-chat-wrapper {
                display: flex;
            }
        }
    }
}
