$smoothbezier: cubic-bezier(0.25, 0, 0, 1);
$smoothduration: 400ms;
#mynah-wrapper {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    overflow: hidden;

    .context-checkbox {
        display: none;
    }

    &[mode="chat"] {
        > .mynah-chat-wrapper {
            transform: translate3d(0, 0, 0);
            transform-origin: top center;
            opacity: 1;
            &:after {
                opacity: 0;
            }
        }
        > .mynah-main-wrapper {
            transform: translate3d(0, 20vh, 0);
            opacity: 0;

            &,
            & * {
                pointer-events: none;
            }
        }
    }
    &:not([mode="chat"]) {
        > .mynah-chat-wrapper {
            transform: translate3d(0, 0px, 0) scale(0.95);
            transform-origin: top center;
            opacity: 0.25;
            &:after {
                opacity: 0.5;
            }

            &,
            & * {
                pointer-events: none;
            }
        }
        > .mynah-main-wrapper {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    > .mynah-chat-wrapper,
    > .mynah-main-wrapper {
        transition: all 400ms cubic-bezier(0.25, 0, 0, 1);
        position: absolute;
        top: 0;
        right: calc(2 * var(--mynah-sizing-9) + var(--mynah-sizing-1));
        bottom: 0;
        left: 0;
        width: auto;
        height: auto;
        padding: var(--mynah-sizing-3);
    }
    > .mynah-chat-wrapper {
        display: flex;
        flex-flow: column nowrap;
        overflow: visible;
        padding-top: 0;
        &:after {
            transition: all $smoothduration $smoothbezier;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: auto;
            height: auto;
            background-color: black;
            opacity: 0.15;
            z-index: 1000;
            opacity: 0;
            pointer-events: none;
            transform: translate3d(0, 0, 0) scale(2);
            transform-origin: center center;
        }
    }
    > .mynah-main-wrapper {
        position: absolute;
        display: flex;
        flex-flow: column nowrap;
        margin: 0 auto;
        max-width: 1024px;
        box-sizing: border-box;
        margin-left: var(--mynah-sizing-2);
        margin-right: var(--mynah-sizing-2);
        padding: var(--mynah-sizing-3);
        border: var(--mynah-button-border-width) solid var(--mynah-color-border-default);
        border-top-right-radius: var(--mynah-card-radius);
        border-top-left-radius: var(--mynah-card-radius);
        border-bottom: none;
        top: max(50px, 10vh);
        box-shadow: 0px -25px 20px -25px rgba(0, 0, 0, 0.15);
        &:before {
            content: "";
            border-top-right-radius: var(--mynah-card-radius);
            border-top-left-radius: var(--mynah-card-radius);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: auto;
            height: auto;
            background-color: var(--mynah-color-bg);
            opacity: 1;
        }

        > .mynah-suggestions-block-close-button {
            position: absolute;
            align-self: flex-end;
            transform: translate3d(var(--mynah-sizing-2), calc(-100% - var(--mynah-sizing-6)), 0px);
            background-color: var(--mynah-card-bg);
            color: var(--mynah-color-text-default);
            box-shadow: var(--mynah-shadow-feedback-form);
        }

        > .mynah-query-text-short-view {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            gap: var(--mynah-sizing-2);
            width: 100%;
            overflow: hidden;
            box-sizing: border-box;
            justify-content: flex-end;
            z-index: 100;
            & + .mynah-nav-tabs-wrapper {
                box-shadow: 20px -20px 24px -20px rgba(0, 0, 0, 0.15);
            }
            > .mynah-query-text-short-view-text {
                overflow: hidden;
                max-width: 90%;
                max-height: var(--mynah-sizing-14);
                @include list-fader-bottom(var(--mynah-sizing-16));
                > .mynah-chat-item-card {
                    display: inline;
                    .mynah-chat-item-card-related-content-show-more,
                    .mynah-chat-item-card-related-content {
                        display: none;
                    }
                    .mynah-card {
                        background-color: var(--mynah-card-bg);
                        box-shadow: 0px 0px 5px -5px var(--mynah-color-button);
                        white-space: pre-wrap;
                        padding: var(--mynah-sizing-4);
                        &:after {
                            background-color: var(--mynah-color-button);
                            opacity: 0.07;
                        }
                        > .mynah-card-center {
                            padding-left: 0;
                        }
                    }
                }
            }
        }

        > .mynah-main {
            display: flex;
            flex-flow: row nowrap;
            overflow: hidden;
            box-sizing: border-box;
            flex: 1 1 0;
            position: relative;
            > .mynah-skeleton-wrapper,
            > .mynah-cards-wrapper {
                padding-top: var(--mynah-sizing-3);
                padding-bottom: var(--mynah-sizing-6);
                display: flex;
                flex-flow: column nowrap;
                gap: var(--mynah-sizing-4);
                box-sizing: border-box;
                overflow: hidden;
                position: relative;
                height: 100%;
                transition: opacity 200ms linear;
                > .mynah-card {
                    animation-duration: $smoothduration;
                    animation-timing-function: $smoothbezier;
                    animation-fill-mode: backwards;
                    transform-origin: center top;
                    @for $i from 1 through 150 {
                        &:nth-child(#{$i}) {
                            animation-delay: $i * 5ms;
                        }
                    }
                }
            }
            > .mynah-cards-wrapper {
                overflow-x: hidden;
                overflow-y: auto;
                flex: 1 1 0;
                opacity: 1;
                &.mynah-cards-wrapper-scrolled {
                    @include list-fader();
                }
                > .mynah-no-suggestion-indicator {
                    display: flex;
                    box-sizing: border-box;
                    opacity: 0.5;
                    width: 100%;
                    padding: var(--mynah-sizing-12);
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: flex-start;
                }
            }
            > .mynah-skeleton-wrapper {
                position: absolute;
                top: 0;
                left: 0;
                margin: 0 auto;
                width: 100%;
                height: 100%;
                z-index: 100;
                pointer-events: none;
                opacity: 0;
            }
            &.mynah-hide-content {
                > .mynah-cards-wrapper {
                    opacity: 0;
                    > .mynah-card {
                        animation-name: from-center-top-neg-top;
                    }
                }
                > .mynah-skeleton-wrapper {
                    opacity: 1;
                    > .mynah-card {
                        animation-name: from-neg-bottom-to-center;
                    }
                }
            }
            &.mynah-show-content {
                > .mynah-cards-wrapper {
                    opacity: 1;
                    > .mynah-card {
                        animation-name: from-neg-bottom-to-center;
                    }
                }
                > .mynah-skeleton-wrapper {
                    opacity: 0;
                    > .mynah-card {
                        animation-name: from-center-top-neg-top;
                    }
                }
            }
        }
    }
}
