.mynah-nav-tabs-wrapper {
    border: var(--mynah-button-border-width) solid var(--mynah-color-border-default);
    background-color: var(--mynah-card-bg);
    border-radius: var(--mynah-card-radius);
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: var(--mynah-card-radius);
    box-shadow: var(--mynah-shadow-generic);
    z-index: 100;

    #mynah-wrapper[mode="chat"] > &,
    .mynah-search-block-ready-to-fold + & {
        box-shadow: var(--mynah-shadow-generic), 0 25px 20px 5px var(--mynah-color-bg);
    }

    > .mynah-toggle-container {
        height: 100%;
        background: none;
        box-sizing: border-box;
        > span {
            white-space: nowrap;
        }
    }
    &:empty {
        display: none;
    }

    &.mynah-nav-tabs-loading,
    &.mynah-nav-tabs-loading * {
        pointer-events: none;
    }
}
