.mynah-nav-tabs-wrapper {
    border: var(--mynah-button-border-width) solid var(--mynah-color-border-default);
    background-color: var(--mynah-card-bg);
    border-radius: var(--mynah-card-radius);
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: var(--mynah-card-radius);
    box-shadow: var(--mynah-shadow-generic);
    z-index: 100;

    .mynah-search-block-ready-to-fold + & {
        box-shadow:
            var(--mynah-shadow-generic),
            0 25px 20px 5px var(--mynah-color-bg);
    }

    > .mynah-toggle-container {
        height: 100%;
        background: none;
        box-sizing: border-box;
        > span {
            white-space: nowrap;
        }
    }
    &:empty {
        display: none;
    }

    &.mynah-nav-tabs-loading,
    &.mynah-nav-tabs-loading * {
        pointer-events: none;
    }
}

#mynah-side-nav {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
    z-index: 9999;
    width: calc(2 * var(--mynah-sizing-10));
    padding: var(--mynah-sizing-1);
    box-sizing: border-box;
    &.mynah-no-tabs {
        display: none;
        & ~ .mynah-chat-wrapper,
        & ~ .mynah-main-wrapper {
            right: 0;
        }
    }

    .mynah-nav-tabs-wrapper {
        height: 100%;
        > .mynah-toggle-container {
            justify-content: flex-start;
            padding: var(--mynah-sizing-2);
            > span {
                white-space: normal;
                text-align: center;
                border-radius: var((--mynah-card-radius));
                width: 100%;
                > label {
                    width: 100%;
                    padding: var(--mynah-sizing-3) var(--mynah-sizing-1);
                    display: flex;
                    flex-flow: column nowrap;
                    gap: var(--mynah-sizing-1);
                    > span {
                        font-size: var(--mynah-font-size-xxsmall);
                        white-space: normal;
                        max-width: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    > i {
                        font-size: var(--mynah-font-size-large);
                    }
                }
            }
        }
        &:empty {
            display: none;
        }

        &.mynah-nav-tabs-loading,
        &.mynah-nav-tabs-loading * {
            pointer-events: none;
        }
    }
}
