.mynah-toggle-container {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: var(--mynah-sizing-1);
    position: relative;
    background: var(--mynah-color-context-should-contain);
    color: var(--mynah-color-context-reverse);
    border-radius: var(--mynah-button-radius);
    .mynah-toggle-option {
        display: none;
        &:not(:first-child) + .mynah-toggle-option-label {
            margin-left: calc(-1 * var(--mynah-sizing-1));
        }
        & + .mynah-toggle-option-label {
            cursor: pointer;
            position: relative;
            z-index: 100;
            padding: var(--mynah-sizing-1) var(--mynah-sizing-2) var(--mynah-sizing-1) var(--mynah-sizing-2);
            border-radius: var(--mynah-button-radius);
            min-height: var(--mynah-sizing-8);
            min-width: var(--mynah-sizing-8);
            box-sizing: border-box;
            display: inline-flex;
            overflow: hidden;
            justify-content: center;
            align-items: center;
        }
        &:checked + .mynah-toggle-option-label {
            pointer-events: none;
        }
        &[disabled="disabled"] {
            pointer-events: none;
            & + .mynah-toggle-option-label {
                pointer-events: none;
                opacity: 0.25;
            }
        }
    }
    &.mynah-toggle-type-switch {
        .mynah-toggle-option {
            & + .mynah-toggle-option-label {
                transition: var(--mynah-short-transition-rev), background-color 1ms 0ms;
            }
            &:checked + .mynah-toggle-option-label {
                color: var(--mynah-color-button-reverse);
                background-color: var(--mynah-color-button);
                transition: var(--mynah-short-transition-rev), background-color 1ms 500ms;
            }
            &:not(:checked) + .mynah-toggle-option-label {
                background-color: rgba(0, 0, 0, 0) !important;
            }
        }
        > .mynah-toggle-indicator-transitioner {
            top: calc(50% - var(--mynah-sizing-4));
        }
    }
    > .mynah-toggle-indicator-transitioner {
        background-color: var(--mynah-color-button);
        display: inline-block;
        transition: var(--mynah-short-transition-rev);
        border-radius: var(--mynah-button-radius);
        position: absolute;
        z-index: 30;
        width: var(--mynah-sizing-8);
        height: var(--mynah-sizing-8);
        left: calc(-1 * var(--mynah-sizing-8));
        &.relocate {
            transition-duration: 1ms;
        }
    }
    &.mynah-toggle-type-tabs {
        flex-flow: row wrap;
        justify-content: flex-start;
        > .mynah-toggle-indicator-transitioner {
            height: var(--mynah-sizing-1);
            border-radius: 0;
            left: calc(-1 * var(--mynah-sizing-8));
            transform: translateY(var(--mynah-sizing-1));
            &.relocate {
                transition-duration: 1ms;
            }
        }
        .mynah-toggle-option {
            &:checked + .mynah-toggle-option-label {
                color: var(--mynah-color-button);
                font-weight: 600;
            }
        }
    }
}

.mynah-toggle-disabled-tooltip-container {
    max-width: 30vw;
    display: inline-block;
    padding: var(--mynah-sizing-3);
    font-size: 80%;
    opacity: 0.85;
}
