
.outer-container {
  display: flex;
}

.snippet-card-container {
  position: relative;
  .mynah-syntax-highlighter {
    max-height: 5rem;
    overflow-y: hidden;
  }
  .mynah-syntax-highlighter::after {
    content: "...";
    text-align: center;
  }
}

.snippet-card-content {
  padding: 0 1rem;
  border: 1px solid red;
  border-radius: 4px;
}

.code-snippet-close-button {
  position: absolute !important;
  right: 0;
  top: 0;
}