@use '@cloudscape-design/design-tokens/index' as awsui;

html,
body {
  overflow: initial;
}
div.mynah-ui-chat-wrapper {
  overflow: hidden;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  position: relative;
  > #mynah-wrapper {
    min-height: max(calc(98vh - var(--chat-wrapper-top, 0)), 500px);
    height: 100%;
    position: relative;
    .mynah-chat-wrapper:after {
      display: none;
    }
  }
}

:root,
body,
div.mynah-ui-chat-wrapper {
  --mynah-max-width: 100%;
  --mynah-sizing-base: #{awsui.$space-scaled-xxs};
  font-size: #{awsui.$font-size-body-m};
  --mynah-chat-wrapper-spacing: var(--mynah-sizing-4);
  --mynah-font-family: system-ui, -apple-system, sans-serif;
  --mynah-syntax-code-font-family: monospace;
  --mynah-color-text-default: #{awsui.$color-text-body-default};
  --mynah-color-text-alternate: #{awsui.$color-text-button-primary-active};
  --mynah-color-text-strong: #{awsui.$color-text-body-default};
  --mynah-color-text-weak: #{awsui.$color-text-input-disabled};
  --mynah-color-text-link: #{awsui.$color-text-link-default};
  --mynah-color-text-input: #{awsui.$color-text-form-default};
  --mynah-color-light: rgba(0, 0, 0, 0.05);
  --mynah-color-highlight: rgba(255, 180, 0, 0.25);
  --mynah-color-highlight-text: #886411;
  --mynah-color-border-default: #{awsui.$color-border-divider-default};
  --mynah-button-border-width: 1px;
  --mynah-border-width: 1px;
  --mynah-color-syntax-variable: #7e009e;
  --mynah-color-syntax-function: #4dc9ff;
  --mynah-color-syntax-operator: #e60086;
  --mynah-color-syntax-attr-value: #007acc;
  --mynah-color-syntax-attr: #dc0450;
  --mynah-color-syntax-property: #00d1e0;
  --mynah-color-syntax-comment: #0c923f;
  --mynah-color-syntax-code: #{awsui.$color-text-accent};
  --mynah-color-syntax-bg: rgba(40, 120, 200, 0.2);
  --mynah-color-status-info: #{awsui.$color-text-status-info};
  --mynah-color-status-success: #{awsui.$color-text-status-success};
  --mynah-color-status-warning: #{awsui.$color-text-status-warning};
  --mynah-color-status-error: #{awsui.$color-text-status-error};
  --mynah-card-bg-alternate: #{awsui.$color-background-button-primary-active};
  --mynah-color-bg: #{awsui.$color-background-layout-main};
  --mynah-color-tab-active: #{awsui.$color-background-container-content};
  --mynah-color-toggle: #{awsui.$color-background-button-primary-default};
  --mynah-color-toggle-reverse: #{awsui.$color-text-button-primary-default};
  --mynah-color-button: #{awsui.$color-background-button-primary-default};
  --mynah-color-button-reverse: #{awsui.$color-text-button-primary-default};
  --mynah-color-alternate: #{awsui.$color-background-button-primary-default};
  --mynah-color-alternate-reverse: #{awsui.$color-text-button-primary-default};
  --mynah-card-bg: #{awsui.$color-background-container-content};
  --mynah-shadow-button: 0 5px 10px -10px rgba(0, 0, 0, 0.25);
  --mynah-shadow-card: 0;
  --mynah-shadow-overlay: #{awsui.$shadow-container-active};
  --mynah-syntax-code-font-size: 1rem;
  --mynah-syntax-code-line-height: 1.25rem;
  --mynah-font-size-xxsmall: 0.75rem;
  --mynah-font-size-xsmall: 0.85rem;
  --mynah-font-size-small: 0.95rem;
  --mynah-font-size-medium: 1rem;
  --mynah-font-size-large: 1.125rem;
  --mynah-line-height: 1.25rem;
  --mynah-card-radius: #{awsui.$border-radius-container};
  --mynah-card-radius-corner: #{awsui.$border-radius-container};
  --mynah-button-radius: #{awsui.$border-radius-button};
  --mynah-input-radius: #{awsui.$border-radius-input};
  --mynah-bottom-panel-transition: all 850ms cubic-bezier(0.25, 1, 0, 1);
  --mynah-very-short-transition: all 600ms cubic-bezier(0.25, 1, 0, 1);
  --mynah-very-long-transition: all 1650ms cubic-bezier(0.25, 1, 0, 1);
  --mynah-short-transition: all 550ms cubic-bezier(0.85, 0.15, 0, 1);
  --mynah-short-transition-rev: all 580ms cubic-bezier(0.35, 1, 0, 1);
  --mynah-short-transition-rev-opacity: opacity 750ms cubic-bezier(0.35, 1, 0, 1);
  --mynah-text-flow-transition: all 800ms cubic-bezier(0.35, 1.2, 0, 1), transform 800ms cubic-bezier(0.2, 1.05, 0, 1);
}
