node_modules/**
postinstall.js
**/*.json
**/*.md
**/test-config
**/*.css
**/*.scss
**/*.svg
**/*rc.js
**/*.config.js
**/*.config.json
*.json
dist/**
example*/**
*api-docs/**
docs/**
out/**
*.config.js
**/dev.js
**/*.d.ts
**/*.config.json
LICENSE
THIRD-PARTY-LICENSES
NOTICE
