node_modules/**
postinstall.js
**/*.json
**/*.md
**/*.css
**/*.scss
**/*.svg
**/*rc.js
**/jest.config.js
**/webpack.config.js
dist/**
example*/**
*api-docs/**
docs/**
out/**
*.config.js
**/*.d.ts
LICENSE
THIRD-PARTY-LICENSES
NOTICE
