node_modules/**
**/*.json
**/*.md
**/*.css
**/*.scss
**/*.svg
**/*rc.js
**/jest.config.js
**/webpack.config.js
dist/**
example/dist/**
example/src/index.html
docs/**
out/**
*.config.js
**/*.d.ts
LICENSE
THIRD-PARTY-LICENSES
NOTICE
