@use '@cloudscape-design/design-tokens/index' as awsui;
.mynah-ui-cloudscape-button-wrapper {
    position: relative;
    display: inline-flex;
    border-radius: awsui.$border-radius-button;
    &.mynah-chat-prompt-button {
        > button {
            width: auto!important;
            height: auto!important;
            padding: 0!important;
            > span {
                width: auto!important;
                height: auto!important;
                padding: 0!important;
                display: inline-flex!important;
            }
        }
    }
    .mynah-ui-cloudscape-button-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}
