html[theme='base']:root {
  font-size: 14px;
  --mynah-max-width: 2560px;
  --mynah-sizing-base: 0.25rem;
  --mynah-chat-wrapper-spacing: var(--mynah-sizing-6);
  --mynah-font-family: system-ui, -apple-system, sans-serif;
  --mynah-syntax-code-font-family: monospace;
  --mynah-color-text-default: #517185;
  --mynah-color-text-strong: #153d56;
  --mynah-color-text-weak: #a9bed0;
  --mynah-color-text-link: #006ab1;
  --mynah-color-text-input: #517185;
  --mynah-color-light: rgba(0, 0, 0, 0.05);
  --mynah-color-highlight: rgba(255, 180, 0, 0.25);
  --mynah-color-highlight-text: #886411;
  --mynah-color-border-default: rgba(119, 157, 182, 0.15);
  --mynah-button-border-width: 1px;
  --mynah-border-width: 1px;
  --mynah-color-syntax-variable: #9b46b0;
  --mynah-color-syntax-function: #0073c0;
  --mynah-color-syntax-operator: #9b46b0;
  --mynah-color-syntax-attr-value: #007acc;
  --mynah-color-syntax-attr: #a31515;
  --mynah-color-syntax-property: #0598bc;
  --mynah-color-syntax-comment: #616161;
  --mynah-color-syntax-code: #0451a5;
  --mynah-color-syntax-bg: rgba(40, 120, 200, 0.2);
  --mynah-color-status-info: #28a7e6;
  --mynah-color-status-success: #36e281;
  --mynah-color-status-warning: #eca14b;
  --mynah-color-status-error: #e60063;
  --mynah-color-bg: #fafbfc;
  --mynah-color-tab-active: #ffffff;
  --mynah-color-toggle: #fafbfc;
  --mynah-color-toggle-reverse: rgba(0, 0, 0, 0.5);
  --mynah-color-button: #1e9ddc;
  --mynah-color-button-reverse: #ffffff;
  --mynah-color-alternate: #5f6a79;
  --mynah-color-alternate-reverse: #ffffff;
  --mynah-card-bg: #ffffff;
  --mynah-shadow-button: 0 5px 10px -10px rgba(0, 0, 0, 0.25);
  --mynah-shadow-card: 0 10px 20px -15px rgba(0, 0, 0, 0.25);
  --mynah-shadow-overlay: 0 7px 27px -12px rgba(0, 0, 0, 0.35);
  --mynah-syntax-code-font-size: 1rem;
  --mynah-syntax-code-line-height: 1.25rem;
  --mynah-font-size-xxsmall: 0.75rem;
  --mynah-font-size-xsmall: 0.85rem;
  --mynah-font-size-small: 0.95rem;
  --mynah-font-size-medium: 1rem;
  --mynah-font-size-large: 1.125rem;
  --mynah-line-height: 1.25rem;
  --mynah-card-radius: var(--mynah-sizing-5);
  --mynah-card-radius-corner: var(--mynah-sizing-1);
  --mynah-button-radius: var(--mynah-sizing-5);
  --mynah-input-radius: var(--mynah-sizing-3);
  --mynah-bottom-panel-transition: all 850ms cubic-bezier(0.25, 1, 0, 1);
  --mynah-very-short-transition: all 600ms cubic-bezier(0.25, 1, 0, 1);
  --mynah-very-long-transition: all 1650ms cubic-bezier(0.25, 1, 0, 1);
  --mynah-short-transition: all 550ms cubic-bezier(0.85, 0.15, 0, 1);
  --mynah-short-transition-rev: all 580ms cubic-bezier(0.35, 1, 0, 1);
  --mynah-short-transition-rev-opacity: opacity 750ms cubic-bezier(0.35, 1, 0, 1);
  --mynah-text-flow-transition: all 800ms cubic-bezier(0.35, 1.2, 0, 1), transform 800ms cubic-bezier(0.2, 1.05, 0, 1);
}
