@keyframes horizontal-roll {
    0% {
        background-position: 0% bottom;
    }
    100% {
        background-position: -200% bottom;
    }
}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, calc(-1 * var(--mynah-sizing-2)), 0);
    }
}

@keyframes spinner-spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes typewriter {
    0% {
        visibility: visible;
        opacity: 0;
        max-height: 1px;
    }
    100% {
        opacity: 1;
        max-height: 10000vh;
        visibility: visible;
    }
}
