@mixin list-fader-bottom($height: var(--mynah-sizing-6)) {
    position: relative;
    $listFader: linear-gradient(to bottom, black 30%, black calc(100% - $height), transparent 100%);
    -webkit-mask-image: $listFader;
    -webkit-mask-size: 100% 100%;
    mask-image: $listFader;
    mask-size: 100% 100%;
}

@mixin gradient-border($gradient: var(--mynah-color-gradient-main)) {
    background-clip: padding-box, border-box;
    background-origin: border-box;
    background-image: linear-gradient(var(--mynah-card-bg), var(--mynah-card-bg)), $gradient;
    background-position: 0% bottom;
    background-size: 200% 100%;
    background-repeat: repeat-x;
    border: var(--mynah-border-width) solid transparent;
}

/**
 * @param {string} $size - The size of the font.
 * @param {string} $weight - The weight of the font.
 * @param {string} $family - The family of the font.
 */
@mixin mynah-font($size, $weight: normal, $family: var(--mynah-font-family)) {
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
}

/**
 * @param {string} $text-color - The color of the text.
 * @param {string} $bg-color - The background color.
 */
@mixin mynah-color($text-color, $bg-color) {
    color: $text-color;
    background-color: $bg-color;
}

/**
 * @param {string} $margin - The margin of the element.
 * @param {string} $padding - The padding of the element.
 */
@mixin mynah-spacing($margin: 0, $padding: 0) {
    margin: $margin;
    padding: $padding;
}

/**
 * @param {string} $radius - The radius of the border.
 */
@mixin mynah-border-radius($radius) {
    border-radius: $radius;
}

/**
 * @param {string} $shadow - The shadow of the element.
 */
@mixin mynah-box-shadow($shadow) {
    box-shadow: $shadow;
}

/**
 * @param {String} $name - The name of the CSS variable.
 * @param {String} $property - The CSS property to transition.
 * @param {Number} $duration - The duration in milliseconds.
 * @param {String} $timing-function - The timing function (e.g., cubic-bezier).
 */
@mixin mynah-transition-var($name, $property, $duration, $timing-function) {
    :root {
        --mynah-#{$name}-transition: #{$property} #{$duration}ms #{$timing-function};
    }
}

/**
 * @param {Number} $base - The base value used to generate sizing variables.
 */
@mixin mynah-sizing-vars($base) {
    :root {
        --mynah-sizing-half: calc(var(--mynah-sizing-base) / 2);

        @for $i from 1 through 18 {
            --mynah-sizing-#{$i}: calc(var(--mynah-sizing-base) * #{$i});
        }
    }
}

/**
 * @param {String} $name - The name of the CSS variable.
 * @param {String | Number} $value - The value to assign to the CSS variable.
 */
@mixin mynah-css-var($name, $value) {
    :root {
        #{$name}: #{$value};
    }
}

/**
 * @param {String} $type - The type of CSS variable to generate.
 * @param {String} $prefix - The prefix of the CSS variable.
 * @param {String} $key - The key of the CSS variable.
 * @param {String | Number} $value - The value to assign to the CSS variable.
 */
@mixin mynah-generate-css-var($type, $prefix, $key, $value) {
    @if $type == 'prefix' {
        @include mynah-css-var(#{$mynah}-#{$prefix}-#{$key}, $value);
    } @else if $type == 'radius' {
        @include mynah-css-var(#{$mynah}-#{$key}-radius, $value);
    } @else if $type == 'shadow' {
        @include mynah-css-var(#{$mynah}-shadow-#{$key}, $value);
    }
}
