@mixin background-shadow {
    overflow: visible;
    &:before {
        content: "";
        background-color: transparent;
        transition: var(--mynah-short-transition-rev);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        box-shadow: var(--mynah-shadow-card);
        pointer-events: none;
        filter: brightness(50%) saturate(250%) contrast(250%);
        opacity: 0.4;
    }
}

@mixin lighten-darken {
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: brightness(var(--mynah-color-context-filter));
    }
}

@mixin list-fader {
    position: relative;
    $listFader: linear-gradient(
        to bottom,
        transparent 0%,
        black var(--mynah-sizing-6),
        black calc(100% - var(--mynah-sizing-6)),
        transparent 100%
    );
    -webkit-mask-image: $listFader;
    -webkit-mask-size: 100% 100%;
    mask-image: $listFader;
    mask-size: 100% 100%;
}

@mixin list-fader-bottom($height: var(--mynah-sizing-6)) {
    position: relative;
    $listFader: linear-gradient(
        to bottom,
        black 30%,
        black calc(100% - $height),
        transparent 100%
    );
    -webkit-mask-image: $listFader;
    -webkit-mask-size: 100% 100%;
    mask-image: $listFader;
    mask-size: 100% 100%;
}
@mixin list-fader-right($height: var(--mynah-sizing-6)) {
    position: relative;
    $listFader: linear-gradient(
        to right,
        black 30%,
        black calc(100% - $height),
        transparent 100%
    );
    -webkit-mask-image: $listFader;
    -webkit-mask-size: 100% 100%;
    mask-image: $listFader;
    mask-size: 100% 100%;
}

@mixin context-pill-group-background {
    &:after,
    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        border-radius: calc(var(--mynah-button-radius) * 3 / 2);
        border: var(--mynah-border-width) solid transparent;
    }
    &:after {
        background-color: var(--mynah-card-bg);
        z-index: 1;
    }
}

@mixin chatMode {
    &[mode="chat"] {
        @content;
    }
}
