@import './scss-variables';
.mynah-ui-splash-loader-wrapper {
    transition: var(--mynah-short-rev-transition);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    background: var(--mynah-color-bg) no-repeat bottom center;
    background-size: cover;
    opacity: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: var(--mynah-z-max);
    gap: var(--mynah-sizing-6);
    &,
    & * {
        pointer-events: none;
    }

    &.visible {
        opacity: 1;
        &,
        & * {
            pointer-events: all;
            cursor: wait;
        }
    }
    &:not(.visible) {
        *,
        *:before {
            animation: none !important;
        }
    }

    > .mynah-ui-splash-loader-text {
        &:empty {
            display: none;
        }
        font-size: var(--mynah-font-size-large);
    }
    > .mynah-ui-spinner-container {
        width: min(30vw, 30vh, 200px);
        height: min(30vw, 30vh, 200px);
        > .mynah-ui-spinner-logo-part.backdrop {
            filter: blur(30px);
        }
        > .mynah-ui-spinner-logo-part.semi-backdrop::before {
            filter: blur(30px);
        }
    }
}
