:root {
    --mynah-font-family: var(--vscode-font-family), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Amazon Ember", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: var(--vscode-font-size, 13px);
    font-family: var(--mynah-font-family, "system-ui");
    --mynah-max-width: 2560px;
    --mynah-sizing-base: 0.25rem;
    --mynah-sizing-half: calc(var(--mynah-sizing-base) / 2);

    /**
     * Sizing variables
     */
    @for $i from 1 through 18 {
        --mynah-sizing-#{$i}: calc(var(--mynah-sizing-base) * #{$i});
    }

    --mynah-chat-wrapper-spacing: var(--mynah-sizing-4);
    --mynah-button-border-width: 1px;
    --mynah-border-width: 1px;

    /**
     * Color variables
     */
    $mynah-color-text: (
        'default': var(--vscode-foreground),
        'alternate': var(--mynah-color-button-reverse),
        'strong': var(--vscode-input-foreground),
        'weak': var(--vscode-disabledForeground),
        'link': var(--vscode-textLink-foreground),
        'input': var(--vscode-input-foreground)
    );

    @each $name, $value in $mynah-color-text {
        --mynah-color-text-#{$name}: #{$value};
    }

    --mynah-color-bg: var(--vscode-sideBar-background);
    --mynah-color-tab-active: var(--vscode-tab-activeBackground, var(--vscode-editor-background, var(--mynah-card-bg)));
    --mynah-color-light: rgba(0, 0, 0, 0.05);

    --mynah-color-border-default: var(--vscode-panel-border, var(--vscode-tab-border, rgba(0, 0, 0, 0.1)));

    --mynah-color-highlight: rgba(255, 179, 0, 0.25);
    --mynah-color-highlight-text: #886411;

    --mynah-color-toggle: var(--vscode-sideBar-background);
    --mynah-color-toggle-reverse: rgba(0, 0, 0, 0.5);


    /**
     * Syntax highlighting variables
     */
     $mynah-syntax-colors: (
        'bg': var(--vscode-terminal-dropBackground),
        'variable': var(--vscode-debugTokenExpression-name),
        'function': var(--vscode-gitDecoration-modifiedResourceForeground),
        'operator': var(--vscode-debugTokenExpression-name),
        'attr-value': var(--vscode-debugIcon-stepBackForeground),
        'attr': var(--vscode-debugTokenExpression-string),
        'property': var(--vscode-terminal-ansiCyan),
        'comment': var(--vscode-debugConsole-sourceForeground),
        'code': var(--vscode-editor-foreground, var(--mynah-color-text-default, inherit))
    );

    @each $name, $value in $mynah-syntax-colors {
        --mynah-color-syntax-#{$name}: #{$value};
    }

    --mynah-syntax-code-font-family: var(--vscode-editor-font-family);
    --mynah-syntax-code-font-size: var(--vscode-editor-font-size, var(--mynah-font-size-medium));

    /**
     * Status variables
     */
    $mynah-status-colors: (
        'info': #0971d3
        'success': #037f03
        'warning': #b2911c
        'error': #d91515
    );

    @each $name, $value in $mynah-status-colors {
        --mynah-color-status-#{$name}: #{$value};
    }

    --mynah-color-button: var(--vscode-button-background);
    --mynah-color-button-reverse: var(--vscode-button-foreground);

    --mynah-color-alternate: var(--vscode-button-secondaryBackground);
    --mynah-color-alternate-reverse: var(--vscode-button-secondaryForeground);

    --mynah-card-bg: var(--vscode-editor-background);
    --mynah-card-bg-alternate: var(--mynah-color-button);

    --mynah-shadow-button: none; //0 10px 20px -15px rgba(0, 0, 0, 0.25);
    --mynah-shadow-card: none; //0 10px 20px -15px rgba(0, 0, 0, 0.25);
    --mynah-shadow-overlay: 0 0px 15px -5px rgba(0, 0, 0, 0.4);

    /**
     * Font variables
     */
    $mynah-font-sizes: (
        'xxsmall': 0.75rem,
        'xsmall': 0.85rem,
        'small': 0.95rem,
        'medium': 1rem,
        'large': 1.125rem
    );

    @each $name, $value in $mynah-font-sizes {
        --mynah-font-size-#{$name}: #{$value};
    }

    --mynah-line-height: 1.5rem;
    --mynah-syntax-code-line-height: 1.5rem;

    --mynah-card-radius: var(--mynah-sizing-2);
    --mynah-input-radius: var(--mynah-sizing-1);
    --mynah-card-radius-corner: 0;
    --mynah-button-radius: var(--mynah-sizing-1);


    /**
     * Transition variables
     */
    $mynah-transitions: (
        'bottom-panel': (850, cubic-bezier(0.25, 1, 0, 1)),
        'very-short': (600, cubic-bezier(0.25, 1, 0, 1)),
        'very-long': (1650, cubic-bezier(0.25, 1, 0, 1)),
        'short': (550, cubic-bezier(0.85, 0.15, 0, 1)),
        'short-rev': (580, cubic-bezier(0.35, 1, 0, 1))
    );
    @each $name, $values in $mynah-transitions {
        @include mynah-transition($name, nth($values, 1), nth($values, 2));
    }

    --mynah-short-transition-rev-opacity: opacity 750ms cubic-bezier(0.35, 1, 0, 1);
    --mynah-text-flow-transition: all 800ms cubic-bezier(0.35, 1.2, 0, 1), transform 800ms cubic-bezier(0.2, 1.05, 0, 1);
}
