@import 'scss-variables';

@include mynah-sizing-vars(var(--mynah-sizing-base));

$mynah-collections: (
    'color-text': (
        'prefix',
        $mynah-text-colors,
    ),
    'color': (
        'prefix',
        $mynah-colors,
    ),
    'color-syntax': (
        'prefix',
        $mynah-syntax-colors,
    ),
    'syntax-code': (
        'prefix',
        $mynah-syntax-code,
    ),
    'color-status': (
        'prefix',
        $mynah-status-colors,
    ),
    'font-size': (
        'prefix',
        $mynah-font-sizes,
    ),
    'radius': (
        'radius',
        $mynah-radii,
    ),
    'shadow': (
        'shadow',
        $mynah-shadows,
    ),
);

@each $prefix, $data in $mynah-collections {
    $type: nth($data, 1);
    $map: nth($data, 2);

    @each $key, $value in $map {
        @include mynah-generate-css-var($type, $prefix, $key, $value);
    }
}

@each $transition in $mynah-transitions {
    $name: nth($transition, 1);
    @for $i from 2 through length($transition) {
        $property: nth(nth($transition, $i), 1);
        $duration: nth(nth($transition, $i), 2);
        $timing-function: nth(nth($transition, $i), 3);

        @include mynah-transition-var($name, $property, $duration, $timing-function);
    }
}

:root {
    --mynah-font-family: var(--vscode-font-family), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Amazon Ember', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--vscode-font-size, 13px);
    font-family: var(--mynah-font-family, 'system-ui');

    --mynah-max-width: 2560px;
    --mynah-sizing-base: 0.25rem;
    --mynah-chat-wrapper-spacing: var(--mynah-sizing-4);

    --mynah-button-border-width: 1px;
    --mynah-border-width: 1px;

    --mynah-color-gradient-semi-transparent: linear-gradient(
        35deg,
        var(--mynah-color-gradient-start),
        var(--mynah-color-gradient-mid),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        var(--mynah-color-gradient-mid),
        var(--mynah-color-gradient-start)
    );
    --mynah-color-gradient-main: linear-gradient(
        35deg,
        var(--mynah-color-gradient-start),
        var(--mynah-color-gradient-mid),
        var(--mynah-color-gradient-end),
        var(--mynah-color-gradient-start)
    );

    --mynah-card-bg: var(--vscode-editor-background);
    --mynah-card-bg-alternate: var(--mynah-color-button);

    --mynah-line-height: 1.5rem;
}
