@import "mixins";
@import "variables";
@import "animations";
@import "font-face";
@import "dark";
@import "favicons";

// Components
@import "./components/main-container";
@import "./components/button";
@import "./components/toggle";
@import "./components/icon";
@import "./components/nav-tabs";
@import "./components/card";
@import "./components/feedback-form";
@import "./components/overlay";
@import "./components/notification";
@import "./components/syntax-highlighter";
@import "./components/chat-wrapper";
@import "./components/chat-item-tree-view";

body,
html {
    font-family: "Amazon Ember";
    background-color: var(--mynah-color-bg);
    color: var(--mynah-color-text-default);
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    opacity: 0.25;
    &:horizontal {
        width: 0px;
        height: 0px;
    }
}

*:focus {
    outline: none;
}
