html[theme='dark-mynah-ui']:root {
    --mynah-max-width: 2560px;
    --mynah-sizing-base: 0.25rem;
    --mynah-chat-wrapper-spacing: var(--mynah-sizing-6);
    --mynah-font-family: system-ui, -apple-system, sans-serif;
    --mynah-syntax-code-font-family: monospace;
    --mynah-color-text-default: #cad2f2;
    --mynah-color-text-alternate: #ffffff;
    --mynah-color-text-strong: #ffffff;
    --mynah-color-text-weak: #84889a;
    --mynah-color-text-link: #98a8ec;
    --mynah-color-text-input: #ebebeb;
    --mynah-color-light: rgba(0, 0, 0, 0.05);
    --mynah-color-highlight: rgba(208, 212, 231, 0.25);
    --mynah-color-highlight-text: #222849;
    --mynah-color-border-default: rgba(135, 151, 217, 0.15);
    --mynah-button-border-width: 1px;
    --mynah-border-width: 1px;
    --mynah-color-syntax-variable: #9b46b0;
    --mynah-color-syntax-function: #6b89ff;
    --mynah-color-syntax-operator: #9b46b0;
    --mynah-color-syntax-attr-value: #b3beff;
    --mynah-color-syntax-attr: #e68484;
    --mynah-color-syntax-property: #0598bc;
    --mynah-color-syntax-comment: #31c99b;
    --mynah-color-syntax-code: #d4d8e8;
    --mynah-color-syntax-bg: rgba(73, 86, 151, 0.4);
    --mynah-color-status-info: #4593b5;
    --mynah-color-status-success: #49bc8a;
    --mynah-color-status-warning: #eec58c;
    --mynah-color-status-error: #ea3e7a;
    --mynah-color-bg: #292f47;
    --mynah-color-tab-active: #333a57;
    --mynah-color-toggle: #fafbfc;
    --mynah-color-toggle-reverse: rgba(0, 0, 0, 0.5);
    --mynah-color-button: #5e6a9c;
    --mynah-color-button-reverse: #ffffff;
    --mynah-color-alternate: #5f6a79;
    --mynah-color-alternate-reverse: #ffffff;
    --mynah-card-bg: #333a57;
    --mynah-card-bg-alternate: #5e6a9c;
    --mynah-shadow-button: 0 5px 10px -10px rgba(0, 0, 0, 0.25);
    --mynah-shadow-card: 0 20px 25px -20px rgba(0, 0, 0, 0.5);
    --mynah-shadow-overlay: 0 10px 35px -10px rgba(0, 0, 0, 0.75);
    --mynah-syntax-code-font-size: 1rem;
    --mynah-syntax-code-line-height: 1.25rem;
    --mynah-font-size-xxsmall: 0.75rem;
    --mynah-font-size-xsmall: 0.85rem;
    --mynah-font-size-small: 0.95rem;
    --mynah-font-size-medium: 1rem;
    --mynah-font-size-large: 1.125rem;
    --mynah-line-height: 1.25rem;
    --mynah-card-radius: var(--mynah-sizing-5);
    --mynah-card-radius-corner: 0;
    --mynah-button-radius: var(--mynah-sizing-5);
    --mynah-input-radius: var(--mynah-sizing-2);
    --mynah-bottom-panel-transition: all 850ms cubic-bezier(0.25, 1, 0, 1);
    --mynah-very-short-transition: all 600ms cubic-bezier(0.25, 1, 0, 1);
    --mynah-very-long-transition: all 1650ms cubic-bezier(0.25, 1, 0, 1);
    --mynah-short-transition: all 550ms cubic-bezier(0.85, 0.15, 0, 1);
    --mynah-short-transition-rev: all 580ms cubic-bezier(0.35, 1, 0, 1);
    --mynah-short-transition-rev-opacity: opacity 750ms cubic-bezier(0.35, 1, 0, 1);
    --mynah-text-flow-transition: all 800ms cubic-bezier(0.35, 1.2, 0, 1), transform 800ms cubic-bezier(0.2, 1.05, 0, 1);
}
