.diff {
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--mynah-sizing-2);
    background-color: transparent;
    color: transparent !important;

    .hljs-deletion {
        background-color: var(--mynah-color-syntax-deletion);
    }

    .hljs-addition {
        background-color: var(--mynah-color-syntax-addition);
    }
}

.hljs {
    color: var(--mynah-color-syntax-code);
}

.hljs-comment,
.hljs-quote {
    color: var(--mynah-color-syntax-comment);
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: var(--mynah-color-syntax-keyword);
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-subst {
    color: var(--mynah-color-syntax-function);
}

.hljs-literal {
    color: var(--mynah-color-syntax-property);
}

.hljs-string,
.hljs-regexp,
.hljs-attribute,
.hljs-meta .hljs-string {
    color: var(--mynah-color-syntax-string);
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: var(--mynah-color-syntax-variable);
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: var(--mynah-color-syntax-operator);
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
    color: var(--mynah-color-syntax-class-name);
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}
