// @use '@amzn/awsui-design-tokens/polaris.scss' as awsui;
// @import './overrides.scss';

div[data-class='main-panel-grid'] {
  min-height: 99%;
}

div[data-class='mynah-ui-chat-example-container'] {
  position: sticky !important;
  top: 10px;
}

.main-panel-content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  /* gap: awsui.$space-scaled-m; */
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  max-height: 100%;
}

.log-content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  font-family: monospace;
  display: flex;
  font-size: 80%;
  flex-flow: column-reverse nowrap;
  gap: var(--mynah-sizing-3);
  color: var(--mynah-color-syntax-code);
  background-color: var(--mynah-card-bg);
  margin-bottom: var(--mynah-sizing-4);

  > p {
    margin-block-start: 0;
    margin-block-end: 0;
    position: relative;
    padding-left: var(--mynah-sizing-6);

    &::first-letter {
      text-transform: capitalize;
    }

    &:before {
      content: '>>';
      color: var(--mynah-color-syntax-attr);
      position: absolute;
      left: 0;
      top: 0;
    }

    b {
      color: var(--mynah-color-syntax-property);
      font-weight: 500;
    }
  }
}
