.mynah-form-input-radio-wrapper {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
        margin-right: var(--mynah-sizing-4);
    }

    > .mynah-form-input-radio-label {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: var(--mynah-sizing-1);
        cursor: pointer;

        box-sizing: border-box;
        min-width: var(--mynah-sizing-6);
        min-height: var(--mynah-sizing-6);

        > input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked + .mynah-form-input-radio-check {
                border-color: var(--mynah-color-button);
                > .mynah-ui-icon {
                    transform: scale(0.75);
                    color: var(--mynah-card-bg);
                    opacity: 1;
                }
                &::after {
                    transform: scale(1);
                    background-color: var(--mynah-color-button);
                    opacity: 1;
                }
            }
            &[type='checkbox'].as-checkbox {
                & + .mynah-form-input-radio-check,
                & + .mynah-form-input-radio-check:after {
                    border-radius: var(--mynah-input-radius);
                }
                & + .mynah-form-input-radio-check:after {
                    top: calc(-2 * var(--mynah-border-width));
                    right: calc(-2 * var(--mynah-border-width));
                    bottom: calc(-2 * var(--mynah-border-width));
                    left: calc(-2 * var(--mynah-border-width));
                }
            }
        }
        > .mynah-form-input-radio-check {
            position: relative;
            transition: var(--mynah-bottom-panel-transition);
            width: var(--mynah-sizing-6);
            height: var(--mynah-sizing-6);
            border-radius: 100%;
            overflow: hidden;
            box-sizing: border-box;
            border: var(--mynah-border-width) solid var(--mynah-color-border-default);
            display: inline-flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            > .mynah-ui-icon {
                position: relative;
                transition: inherit;
                transform: scale(0);
                transform-origin: center center;
                color: var(--mynah-color-button);
                z-index: 10;
            }
            &::after {
                $edgeSpace: calc(0 * var(--mynah-border-width));
                content: '';
                transition: inherit;
                position: absolute;
                top: $edgeSpace;
                right: $edgeSpace;
                bottom: $edgeSpace;
                left: $edgeSpace;
                background-color: var(--mynah-color-border-default);
                transform: scale(0.5);
                transform-origin: center center;
                opacity: 0;
                border-radius: inherit;
                z-index: 5;
            }

            & + span:empty {
                display: none;
            }
        }
    }
}
