@import "variables";

// Since mynah-ui css custom properties are mapped to VSCode theme ones by default
// here are some sample VSCode themes applied.
@import "themes/light+.scss";
@import "themes/light-orange.scss";
@import "themes/light-quiet.scss";
@import "themes/light-solarized.scss";
@import "themes/dark+.scss";
@import "themes/dark-abyss.scss";
@import "themes/dark-ayu-mirage.scss";
@import "themes/dark-dracula.scss";
@import "themes/dark-solarized.scss";

.mynah-extension-showcase-grid {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: auto 1fr 4fr auto auto auto;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;

    >* {
        border: 0.5px solid var(--mynah-color-border-default);
    }

    select {
        background-color: var(--mynah-color-bg);
        color: var(--mynah-color-text-default);
    }

    #navbar {
        background-color: var(--mynah-color-bg);
        grid-row-start: 1;
        grid-column-start: 1;

        grid-row-end: 4;
        grid-column-end: 2;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        gap: var(--mynah-sizing-2);
        padding: var(--mynah-sizing-2);
    }

    #file-tree {
        background-color: var(--mynah-color-bg);
        grid-row-start: 1;
        grid-column-start: 2;

        grid-row-end: 4;
        grid-column-end: 3;
        padding: var(--mynah-sizing-2) var(--mynah-sizing-4) var(--mynah-sizing-2) var(--mynah-sizing-4);
        overflow-x: hidden;
        overflow-y: auto;

        ul {
            padding: 0;
            margin: 0;
            padding-left: var(--mynah-sizing-4);

            li {
                list-style-type: disclosure-open;
                color: var(--skeleton-selected);

                &.line {
                    list-style-type: disclosure-closed;
                }
            }
        }
    }

    #file-tabs {
        background-color: var(--mynah-color-bg);
        grid-row-start: 1;
        grid-column-start: 3;

        grid-row-end: 2;
        grid-column-end: 6;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        gap: var(--mynah-sizing-2);
        padding: var(--mynah-sizing-2) var(--mynah-sizing-4) 0 var(--mynah-sizing-4);
    }

    #editor {
        background-color: var(--mynah-card-bg);
        grid-row-start: 2;
        grid-column-start: 3;

        grid-row-end: 3;
        grid-column-end: 6;
        padding: var(--mynah-sizing-4);
        overflow-y: auto;
        overflow-x: hidden;
    }

    #console {
        display: flex;
        flex-flow: column nowrap;
        box-sizing: border-box;
        min-height: 80px;
        max-height: 80px;
        overflow: hidden;
        max-height: 50vh;
        grid-row-start: 3;
        grid-column-start: 3;
        grid-row-end: 4;
        grid-column-end: 6;

        #console-content {
            flex: 1;
            overflow-x: hidden;
            overflow-y: auto;
            position: relative;
            font-family: monospace;
            display: flex;
            font-size: 80%;
            flex-flow: column-reverse nowrap;
            gap: var(--mynah-sizing-3);
            color: var(--mynah-color-syntax-code);
            background-color: var(--mynah-card-bg);
            padding: var(--mynah-sizing-4);

            >p {
                margin-block-start: 0;
                margin-block-end: 0;
                position: relative;
                padding-left: var(--mynah-sizing-6);

                &::first-letter {
                    text-transform: capitalize;
                }

                &:before {
                    content: ">>";
                    color: var(--mynah-color-syntax-attr);
                    position: absolute;
                    left: 0;
                    top: 0;
                }

                b {
                    color: var(--mynah-color-syntax-property);
                    font-weight: 500;
                }
            }
        }
    }

    #status-bar {
        background-color: var(--vscode-sideBar-background);
        grid-row-start: 4;
        grid-column-start: 1;
        z-index: 100;

        grid-row-end: 5;
        grid-column-end: 7;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        gap: var(--mynah-sizing-2);
        padding: var(--mynah-sizing-2);
    }

    #extension {
        background-color: var(--mynah-color-bg);
        grid-row-start: 1;
        grid-column-start: 6;

        grid-row-end: 4;
        grid-column-end: 7;
        position: relative;
        min-width: min(40vw, 550px);
        max-width: min(40vw, 550px);
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: stretch;

        >#amzn-mynah-website-wrapper {
            border-left: 1px solid var(--mynah-card-bg);
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            z-index: 100;
            flex: 1;
            height: 100%;
            box-sizing: border-box;
            overflow: hidden;
        }
    }

    .size-handler {
        &:not(.horizontal) {
            min-width: 3px;
            border-left: 1px solid var(--mynah-card-bg);
            border-right: 1px solid var(--mynah-color-border-default);
            cursor: col-resize;
        }

        &.horizontal {
            min-height: 3px;
            border-top: 1px solid var(--mynah-card-bg);
            border-bottom: 1px solid var(--mynah-color-border-default);
            cursor: row-resize;
        }

        background-color: var(--mynah-color-bg);
        pointer-events: all;
        background-image: radial-gradient(var(--vscode-tab-border) 1px, transparent 0);
        background-size: 10px 10px;
        background-position: -4px -4px;
    }

    .skeleton {
        display: block;
        opacity: 0.2;

        &,
        &:after {
            background-color: var(--skeleton-default);
        }

        &-selected {

            &,
            &:after {
                opacity: 0.5;
                background-color: var(--skeleton-selected);
            }
        }

        &-rectangle {
            width: calc(var(--mynah-sizing-8) * 3);
            height: var(--mynah-sizing-8);
        }

        &-line {
            background-color: rgba(0, 0, 0, 0);

            &:after {
                content: "Lorem ipsum dolor sit amet.";
                display: inline-block;
                white-space: nowrap;
                text-overflow: clip;
                overflow: hidden;
                color: rgba(0, 0, 0, 0);
                font-size: 0.75rem;
            }

            max-width: 70%;

            &.alt:after {
                content: "adasdsaldh k;ljasd asjd;asd  sdpifj;sdlf;lskfl;sdkf sdpiweujwpejwlkfwhdguhdgf ekhdgaushdkjs";
            }
        }

        &-paragraph {
            background-color: rgba(0, 0, 0, 0);

            &:after {
                content: "Lorem ipsum dolor sit amet. \A sdjhaskfhsgkafkf \A sfgkjhasldkfjksdlajfasdogjdfkgjhsadjklasdf \A sfgkjdshfakldjkasdjajowghdfjksghdsalkfaskdlgkjdfbkdfag \A slfgjhasdjkladskfjalskdf";
                display: inline;
                white-space: pre;
                overflow: hidden;
                color: rgba(0, 0, 0, 0);
                line-height: 1.5rem;
                font-size: 0.75rem;
            }

            max-width: 70%;

            &.alt:after {
                content: "Lorem ipsum dolor \A sit amet. \A sit amet \A sit amet \A sit amet \A sdjhaskfhsgkafkf \A sfgkjhasldkfjksdl \A sfgkjdshfakldjkasdjaj \A owghdfjksghdsalk \A sfgkjdshfakldjkasd \A jajowghdfjksghdsalkfaskd \A lgkjdfbkdfag";
            }
        }

        &-rounded {
            width: var(--mynah-sizing-8);
            height: var(--mynah-sizing-8);
            border-radius: var(--mynah-sizing-4);
        }

        &-rounded-tiny {
            width: var(--mynah-sizing-4);
            height: var(--mynah-sizing-4);
            border-radius: var(--mynah-sizing-2);
        }
    }
}