@import 'variables';

// Since mynah-ui css custom properties are mapped to VSCode theme ones by default
// here are some sample VSCode themes applied.
@import 'themes/light+.scss';
@import 'themes/base.scss';
@import 'themes/light-orange.scss';
@import 'themes/light-quiet.scss';
@import 'themes/light-solarized.scss';
@import 'themes/dark+.scss';
@import 'themes/dark-abyss.scss';
@import 'themes/dark-ayu-mirage.scss';
@import 'themes/dark-dracula.scss';
@import 'themes/dark-solarized.scss';

body {
  background-color: var(--mynah-card-bg);
}

.mynah-extension-showcase-grid {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 3fr 2fr;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  gap: var(--mynah-sizing-3);
  padding: var(--mynah-sizing-3);

  > * {
    overflow: hidden;
  }

  #header-bar {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 1;
    grid-column-end: -1;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: var(--mynah-sizing-2);
    border: none;
    label {
      cursor: pointer;
      padding: var(--mynah-sizing-3) var(--mynah-sizing-2);
      background-color: var(--mynah-color-status-success);
      color: var(--mynah-color-button-reverse);
      border-radius: var(--mynah-input-radius);
      &:after {
        content: ': ENABLED';
      }
    }
  }

  #theme-editor {
    background-color: var(--mynah-card-bg);
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 1;
    overflow: hidden;

    display: flex;
    flex-flow: column nowrap;

    border: var(--mynah-border-width) solid var(--mynah-color-border-default);
  }

  #mynah-ui-panel {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;

    > #amzn-mynah-website-wrapper {
      background-color: var(--mynah-color-bg);
      max-width: var(--mynah-max-width);
      border: var(--mynah-border-width) solid var(--mynah-color-border-default);
      border-top-width: 0;
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      z-index: 100;
      flex: 1;
      height: 100%;
      box-sizing: border-box;
      overflow: hidden;
    }
  }

  #console {
    border: var(--mynah-border-width) solid var(--mynah-color-border-default);
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    min-height: 100%;
    max-height: 100%;
    max-height: 80px;
    overflow: hidden;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 3;

    #console-content {
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
      font-family: monospace;
      display: flex;
      font-size: 80%;
      flex-flow: column-reverse nowrap;
      gap: var(--mynah-sizing-3);
      color: var(--mynah-color-syntax-code);
      background-color: var(--mynah-card-bg);
      padding: var(--mynah-sizing-4);

      > p {
        margin-block-start: 0;
        margin-block-end: 0;
        position: relative;
        padding-left: var(--mynah-sizing-6);

        &::first-letter {
          text-transform: capitalize;
        }

        &:before {
          content: '>>';
          color: var(--mynah-color-syntax-attr);
          position: absolute;
          left: 0;
          top: 0;
        }

        b {
          color: var(--mynah-color-syntax-property);
          font-weight: 500;
        }
      }
    }
  }
}

.mynah-ui-example-input-main-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--mynah-sizing-5);
  overflow: hidden;
  padding: var(--mynah-sizing-6);
  padding-top: 0;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--mynah-color-text-default);
  > .mynah-ui-example-input-items-wrapper {
    order: 100;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--mynah-sizing-5);
    overflow: hidden;
    flex-shrink: 0;
  }
  > h1 {
    margin: 0;
  }
  > p {
    order: 10;
  }
}

.mynah-ui-example-input-buttons-wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--mynah-sizing-2);
  overflow: hidden;
  padding: var(--mynah-sizing-4);
  background-color: var(--mynah-card-bg);
  border-bottom: var(--mynah-border-width) solid var(--mynah-color-border-default);
  flex-shrink: 0;
  > .config-operation {
    &.hidden {
      opacity: 0;
      visibility: hidden;
      display: none;
    }
  }
}

.mynah-ui-example-input {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--mynah-sizing-3);
  &-category {
    &-sizing {
      order: 10;
    }
    &-border-style {
      order: 20;
    }
    &-font-size {
      order: 30;
    }
    &-font-family {
      order: 40;
    }
    &-text-color {
      order: 50;
    }
    &-syntax-color {
      order: 60;
    }
    &-status-color {
      order: 70;
    }
    &-background-color {
      order: 80;
    }
    &-shadow {
      order: 90;
    }
    &-radius {
      order: 100;
    }
    &-transition {
      order: 110;
    }
    &-other {
      order: 1000;
    }
  }
  > h1 {
    padding-top: var(--mynah-sizing-6);
    margin: 0;
    text-transform: capitalize;
  }
  & > &-title-wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--mynah-sizing-1);
    h4 {
      margin: 0;
      text-transform: capitalize;
    }
    span {
      font-style: italic;
      font-size: 90%;
      color: var(--mynah-color-text-weak);
    }
  }
  & > &-wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--mynah-sizing-2);
    > input[type='text'],
    > input[type='number'] {
      flex: 1;
    }
    > select {
      appearance: none;
      &.theme-selector {
        max-width: 120px;
      }
    }

    > small,
    > input,
    > select {
      &[type='color'],
      &[type='range'] {
        padding: var(--mynah-sizing-1);
        width: 100px;
        min-width: 100px;
        max-width: 100px;
        outline: none;
      }

      background-color: var(--mynah-card-bg);
      color: var(--mynah-color-text-input);
      border-radius: var(--mynah-input-radius);
      padding: var(--mynah-sizing-3);
      border: var(--mynah-border-width) solid var(--mynah-color-border-default);
    }

    > small {
      border: none;
      padding: 0 !important;
    }

    > input[type='range'] {
      border: none;
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &::-webkit-slider-runnable-track {
        background-color: var(--mynah-color-border-default);
        border-radius: 0.5rem;
        height: var(--mynah-sizing-2);
      }

      &::-webkit-slider-thumb {
        outline: none;
        -webkit-appearance: none;
        appearance: none;
        margin-top: calc(-1 * var(--mynah-sizing-2));
        background-color: var(--mynah-color-button);
        height: var(--mynah-sizing-6);
        width: var(--mynah-sizing-6);
        border-radius: var(--mynah-sizing-3);
      }
    }
  }
}

.ver-div {
  height: 30px;
  border: var(--mynah-border-width) solid var(--mynah-color-border-default);
}

input.hidden {
  // visibility: hidden;
  display: none;
  opacity: 0;
}

@media only screen and (max-width: 1280px) {
  #theme-editor-enabled,
  label[for='theme-editor-enabled'] {
    display: none;
  }
  .mynah-extension-showcase-grid {
    grid-template-columns: 4fr 3fr !important;

    #theme-editor {
      display: none;
      visibility: hidden;
    }

    #mynah-ui-panel {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    #console {
      grid-column-start: 2;
      grid-column-end: 2;
    }
  }
}

@media only screen and (max-width: 860px) {
  #console-enabled,
  label[for='console-enabled'] {
    display: none;
  }
  .mynah-extension-showcase-grid {
    grid-template-columns: 100% !important;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    #header-bar {
      padding-left: var(--mynah-sizing-3);
      padding-right: var(--mynah-sizing-3);
    }

    #theme-editor {
      display: none;
    }

    #mynah-ui-panel {
      border-radius: 0;
      #amzn-mynah-website-wrapper {
        border: none;
        border-radius: 0;
      }
      grid-column-start: 1;
      grid-column-end: 1;
    }

    #console {
      display: none;
    }
  }
}

html:not([theme='base']) {
  label[for='theme-editor-enabled'] {
    display: none;
  }
}
html:not([theme='base']) .mynah-extension-showcase-grid,
#theme-editor-enabled:not(:checked) ~ .mynah-extension-showcase-grid {
  grid-template-columns: 1fr 2fr 2fr;
  #theme-editor {
    display: none;
    visibility: hidden;
  }

  #mynah-ui-panel {
    grid-column-start: 1;
  }

  #header-bar {
    label[for='theme-editor-enabled'] {
      background-color: var(--mynah-color-status-warning);
      border-color: var(--mynah-color-status-warning);
      &:after {
        content: ': DISABLED';
      }
    }
  }
}
#console-enabled:not(:checked) {
  & ~ .mynah-extension-showcase-grid {
    grid-template-columns: 2fr 2fr 1fr;
    #console {
      display: none;
      visibility: hidden;
    }

    #mynah-ui-panel {
      grid-column-end: -1;
    }

    #header-bar {
      label[for='console-enabled'] {
        background-color: var(--mynah-color-status-warning);
        border-color: var(--mynah-color-status-warning);
        &:after {
          content: ': DISABLED';
        }
      }
    }
  }
}

html:not([theme='base']) #console-enabled:not(:checked) ~ .mynah-extension-showcase-grid,
#theme-editor-enabled:not(:checked) + #console-enabled:not(:checked) ~ .mynah-extension-showcase-grid {
  #console {
    display: none;
    visibility: hidden;
  }

  #mynah-ui-panel {
    grid-column-end: -1;
    > #amzn-mynah-website-wrapper {
      max-width: 1080px;
    }
  }
}
