@import 'theme';

html,
body {
    font-size: var(--mynah-font-size-medium) !important;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    background-color: var(--mynah-color-bg);
    color: var(--mynah-color-text-default);
    line-height: var(--mynah-line-height) !important;
    transform: translate3d(0, 0, 0.01px);
}
* {
    text-rendering: optimizeLegibility !important;
    font-kerning: normal !important;
    font-feature-settings: 'liga' 0 !important;
    font-stretch: 100%;
    font-synthesis: none;
    font-optical-sizing: none;
    -webkit-text-stroke: thin !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
}

#mynah-ui-wrapper {
    max-width: var(--mynah-max-width);
    background-color: var(--mynah-color-bg);
    border: none;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    z-index: 100;
    flex: 1;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
}
