> .mynah-chat-prompt-wrapper {
    display: block;
    padding: var(--mynah-sizing-4);

    > .mynah-chat-prompt {
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
        box-sizing: border-box;
        border: var(--mynah-border-width) solid var(--mynah-color-border-default);
        background-color: var(--mynah-card-bg);
        border-radius: var(--mynah-card-radius);
        padding: var(--mynah-sizing-4);

        > .mynah-chat-prompt-input-wrapper {
            display: flex;
            flex-flow: row nowrap;
            overflow: visible;
            box-sizing: border-box;
            gap: var(--mynah-sizing-2);
            align-items: flex-start;
            position: relative;
            color: var(--mynah-color-text-weak);

            > .mynah-chat-prompt-input-command-wrapper {
                align-self: flex-start;
                box-sizing: border-box;
                flex-shrink: 0;
                line-height: var(--mynah-line-height);
                display: flex;
                flex-flow: row nowrap;
                align-items: center;

                &.hidden {
                    display: none;
                }

                > .mynah-chat-prompt-input-command-text {
                    user-select: none;
                    cursor: pointer;
                    font-family: var(--mynah-font-family);
                    font-size: var(--mynah-font-size-large);
                    color: var(--mynah-color-text-input);
                    font-weight: bold;
                    white-space: nowrap;
                    max-width: calc(10 * var(--mynah-font-size-large));
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            > .mynah-chat-prompt-input-inner-wrapper {
                display: block;
                width: 100%;
                position: relative;
                align-self: center;

                > .mynah-chat-prompt-input {
                    font-family: var(--mynah-font-family);
                    border: none;
                    resize: none;
                    background-color: rgba(0, 0, 0, 0);
                    font-size: var(--mynah-font-size-large);
                    color: var(--mynah-color-text-input);
                    caret-color: var(--mynah-color-text-input);
                    outline: none;
                    width: 100%;
                    max-height: 20vh;
                    line-height: var(--mynah-line-height);
                    white-space: pre-wrap;
                    word-break: normal;
                    overflow-wrap: break-word;

                    &:placeholder-shown {
                        text-overflow: ellipsis;
                    }

                    &::placeholder {
                        color: var(--mynah-color-text-weak);
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    &:not(.mynah-chat-prompt-input-sizer) {
                        position: absolute;
                        height: auto;
                        width: auto;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        padding: 0;
                        z-index: 100;
                    }
                }

                > .mynah-chat-prompt-input-sizer {
                    display: inline-block;
                    width: 100%;
                    opacity: 1;
                    pointer-events: none;
                    overflow: auto;
                    color: rgba(0, 0, 0, 0);
                    position: relative;
                    z-index: 150;
                    > span.context {
                        position: relative;
                        color: var(--mynah-color-button-reverse);
                        border-radius: calc(var(--mynah-input-radius) / 2);
                        display: inline;
                        white-space: nowrap;
                        overflow-wrap: break-word;
                        z-index: 1000;
                        &:before {
                            content: '';
                            position: absolute;
                            left: -1px;
                            right: -1px;
                            width: auto;
                            height: 100%;
                            background-color: var(--mynah-color-button);
                            border-radius: inherit;
                            z-index: -1;
                        }
                    }
                }

                & ~ .mynah-chat-prompt-button-wrapper {
                    display: inline-flex;
                    width: var(--mynah-sizing-8);
                    height: var(--mynah-line-height);
                    flex-flow: row nowrap;
                    align-items: center;
                    overflow: visible;
                    > .mynah-chat-prompt-button {
                        background-color: transparent;
                        width: var(--mynah-sizing-9);
                        height: var(--mynah-sizing-9);
                        min-width: var(--mynah-sizing-9);
                        min-height: var(--mynah-sizing-9);
                        i {
                            color: var(--mynah-color-button);
                            height: var(--mynah-sizing-5);
                            width: var(--mynah-sizing-5);
                            padding-left: 0;
                        }
                    }
                }

                &.no-text ~ .mynah-chat-prompt-button-wrapper > .mynah-chat-prompt-button:not([disabled]),
                & ~ .mynah-chat-prompt-button-wrapper > .mynah-chat-prompt-button[disabled] {
                    pointer-events: none;
                    opacity: 0.25;

                    i {
                        color: var(--mynah-color-text-weak);
                    }
                }
            }
        }

        > .mynah-chat-prompt-attachment-wrapper {
            &:empty {
                display: none;
            }

            > .mynah-chat-attachment-item {
                position: relative;
                display: inline-block;
                max-width: 250px;
                cursor: pointer;

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: var(--mynah-card-radius);
                    opacity: 0;
                    transition: var(--mynah-short-transition-rev);
                    z-index: 8000;
                    background-color: var(--mynah-color-alternate);
                }

                > .mynah-chat-attachment-delete-icon {
                    color: var(--mynah-color-alternate-reverse);
                    opacity: 0;
                    transition: var(--mynah-short-transition-rev);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 30px;
                    height: 30px;
                    margin-left: -15px;
                    margin-top: -15px;
                    z-index: 9000;

                    > i {
                        width: 30px;
                        height: 30px;
                    }
                }

                &:hover {
                    &:after {
                        opacity: 0.75;
                    }

                    > .mynah-chat-attachment-delete-icon {
                        opacity: 1;
                    }
                }

                > .mynah-card {
                    pointer-events: none !important;

                    * {
                        pointer-events: none !important;
                    }

                    > .mynah-card-body {
                        display: none;
                    }
                }
            }
        }
    }

    &.input-has-focus > .mynah-chat-prompt {
        border: var(--mynah-border-width) solid var(--mynah-color-button);
    }

    > .mynah-chat-prompt-chars-indicator {
        width: 100%;
        font-size: var(--mynah-font-size-xsmall);
        padding-top: var(--mynah-sizing-2);
        opacity: 0.5;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-style: italic;
    }

    & + .mynah-chat-prompt-input-info {
        padding-top: 0;
        margin-top: calc(-1 * var(--mynah-sizing-2));
        flex-basis: fit-content;
    }
}

> .mynah-chat-prompt-input-sticky-card {
    &:not(:empty) {
        padding-top: var(--mynah-sizing-4);
    }

    > .mynah-chat-item-card {
        max-width: 100%;
        width: 100%;
        > .mynah-card {
            border-bottom-left-radius: var(--mynah-card-radius) !important;
        }
    }
}

> .mynah-chat-prompt-input-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    padding: var(--mynah-sizing-4);

    &,
    & * {
        font-size: var(--mynah-font-size-xsmall);
    }

    &:empty {
        display: none;
    }

    > * {
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}
