@import '../../scss-variables';
@import '../../mixins';

.mynah-chat-item-information-card {
    > .mynah-chat-item-information-card-main {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        border-radius: var(--mynah-input-radius);
        overflow: hidden;
        box-sizing: border-box;
        width: 100%;
        height: fit-content;

        @include gradient-border();

        > .mynah-ui-chat-item-inline-card {
            background-color: var(--mynah-color-bg);
            padding: var(--mynah-sizing-3);
            box-sizing: border-box;
            margin: 0;
        }

        > .mynah-chat-item-information-card-header-container {
            display: flex;
            position: relative;
            box-sizing: border-box;
            width: 100%;
            flex-flow: row nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            overflow: hidden;
            padding: var(--mynah-sizing-3);
            transition: var(--mynah-short-transition-rev);
            gap: var(--mynah-sizing-3);
            color: var(--mynah-color-gradient-alternate);

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                background: var(--mynah-bg-gradient);
            }

            > .mynah-ui-icon {
                margin-top: var(--mynah-sizing-1);
                font-size: var(--mynah-font-size-large);
            }

            > .mynah-chat-item-information-card-header {
                flex: 1;
                display: flex;
                position: relative;
                box-sizing: border-box;
                flex-flow: column nowrap;
                align-items: flex-start;
                justify-content: flex-start;
                gap: var(--mynah-sizing-1);

                > .mynah-chat-item-information-card-title {
                    font-weight: bold;
                    flex: 0 1 0%;
                }
                > .mynah-chat-item-information-card-description {
                    flex: 1 0 100%;
                    font-size: var(--mynah-font-size-xxsmall);
                }
            }
        }
    }

    .mynah-chat-item-information-card-footer {
        display: flex;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        overflow: hidden;
        padding: var(--mynah-sizing-3);
        transition: var(--mynah-short-transition-rev);
        gap: var(--mynah-sizing-3);
        border: 1px solid;
        border-radius: 0 0 var(--mynah-input-radius) var(--mynah-input-radius);

        > .mynah-ui-icon {
            font-size: var(--mynah-font-size-medium);
        }

        > p {
            flex: 1;
            font-size: var(--mynah-font-size-xsmall);
            margin: 0;
        }

        @each $status in $mynah-statuses {
            &.status-#{$status} {
                border-color: var(--mynah-color-status-#{$status});
                background-color: var(--mynah-color-status-#{$status}-bg);

                .mynah-ui-icon {
                    color: var(--mynah-color-status-#{$status});
                }
            }
        }
    }

    &:has(.mynah-chat-item-information-card-footer) {
        > .mynah-chat-item-information-card-main {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: 0;
        }
    }
}
