&:before {
    content: '';
    display: none;
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    border-bottom-right-radius: var(--mynah-card-radius);
    border-bottom-left-radius: var(--mynah-card-radius-corner);
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    z-index: 10;
    background-image: linear-gradient(
        90deg,
        var(--mynah-color-button) 0%,
        rgba(255, 255, 255, 0) 25%,
        rgba(255, 255, 255, 0) 50%,
        var(--mynah-color-button) 100%
    );
    background-position: 0% bottom;
    background-size: 200% var(--mynah-sizing-1);
    background-repeat: repeat-x;
    animation: horizontal-roll 1250ms linear infinite both;
}
