> .mynah-chat-prompt-wrapper {
    display: block;
    padding: var(--mynah-sizing-4);
    &.hidden {
        display: none;
        &,
        & * {
            pointer-events: none;
        }
    }

    &.awaits-confirmation .mynah-chat-prompt-input {
        caret-color: transparent !important;
    }

    > .mynah-chat-prompt-input-label {
        transition: var(--mynah-short-transition);
        padding: var(--mynah-sizing-2) 0;
        box-sizing: border-box;
        max-width: 100%;
        overflow: hidden;
        &:empty {
            padding: 0;
        }
    }
    > .mynah-chat-prompt {
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
        box-sizing: border-box;
        border: inset var(--mynah-border-width) solid transparent;
        background-color: var(--mynah-card-bg);
        border-radius: var(--mynah-card-radius);
        padding: var(--mynah-sizing-4) var(--mynah-sizing-3) var(--mynah-sizing-4) var(--mynah-sizing-3);
        position: relative;

        > .mynah-chat-prompt-input-wrapper {
            display: flex;
            flex-flow: row nowrap;
            overflow: visible;
            box-sizing: border-box;
            gap: var(--mynah-sizing-2);
            align-items: flex-start;
            position: relative;
            color: var(--mynah-color-text-weak);

            > .mynah-chat-prompt-input-command-wrapper {
                align-self: flex-start;
                box-sizing: border-box;
                flex-shrink: 0;
                line-height: var(--mynah-line-height);
                display: flex;
                flex-flow: row nowrap;
                align-items: center;

                &.hidden {
                    display: none;
                }

                > .mynah-chat-prompt-input-command-text {
                    user-select: none;
                    cursor: pointer;
                    font-family: var(--mynah-font-family);
                    font-size: var(--mynah-font-size-large);
                    color: var(--mynah-color-text-input);
                    font-weight: bold;
                    white-space: nowrap;
                    max-width: calc(10 * var(--mynah-font-size-large));
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            > .mynah-chat-prompt-input-inner-wrapper {
                display: block;
                flex: 1;
                position: relative;
                align-self: center;
                overflow: hidden;

                > .mynah-chat-prompt-input {
                    font-family: var(--mynah-font-family);
                    border: none;
                    resize: none;
                    background-color: rgba(0, 0, 0, 0);
                    font-size: var(--mynah-font-size-large);
                    color: var(--mynah-color-text-input);
                    caret-color: var(--mynah-color-text-input);
                    outline: none;
                    width: 100%;
                    max-height: 20vh;
                    line-height: var(--mynah-line-height);
                    white-space: pre-wrap;
                    word-break: normal;
                    overflow-wrap: break-word;
                    padding: 0;
                    overflow-x: hidden;
                    display: block;
                    box-sizing: border-box;
                    min-height: calc(var(--mynah-line-height) * 3);
                    transition: var(--mynah-short-transition-rev);

                    &[disabled] {
                        pointer-events: none;
                    }

                    &.empty {
                        text-overflow: ellipsis;
                        &::before {
                            content: attr(placeholder);
                            pointer-events: none;
                            text-overflow: ellipsis;
                            position: absolute;
                            z-index: 0;
                            font-weight: inherit;
                            font-size: inherit;
                            color: var(--mynah-color-text-weak);
                            max-width: 100%;
                            overflow: hidden;
                            overflow-wrap: break-word;
                            box-sizing: border-box;
                        }
                    }

                    > span.cursor,
                    > span.eol {
                        max-width: 0;
                        line-height: inherit;
                        max-height: var(--mynah-line-height);
                        min-height: var(--mynah-line-height);
                        display: inline;
                        margin: 0;
                        padding: 0;
                    }
                    > span.context {
                        position: relative;
                        color: var(--mynah-color-button-reverse);
                        border-radius: calc(var(--mynah-input-radius) / 2);
                        display: inline;
                        white-space: nowrap;
                        overflow-wrap: break-word;
                        z-index: 1000;
                        cursor: pointer;
                        padding: 0.05em 0.2em 0.05em 0.2em;
                        margin-bottom: var(--mynah-border-width);
                        display: inline-flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                        gap: var(--mynah-sizing-half);
                        font-size: var(--mynah-font-size-medium);
                        > .mynah-ui-icon {
                            height: calc(var(--mynah-font-size-medium) - var(--mynah-sizing-base));
                            font-size: var(--mynah-font-size-xsmall);
                            & + span.at-char {
                                display: none;
                            }
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            width: auto;
                            height: calc(100%);
                            background-color: var(--mynah-color-button);
                            border-radius: var(--mynah-input-radius);
                            z-index: -1;
                        }
                    }
                }

                & ~ .mynah-chat-prompt-button-wrapper {
                    display: inline-flex;
                    width: var(--mynah-sizing-8);
                    height: var(--mynah-line-height);
                    flex-flow: row nowrap;
                    align-items: center;
                    overflow: visible;
                    > .mynah-chat-prompt-button {
                        background-color: transparent;
                        border: none !important;
                        &:not(:hover, :focus, :active) {
                            &::before {
                                background-color: transparent;
                            }
                        }
                        &:hover,
                        &:focus,
                        &:active {
                            &::before {
                                opacity: 0.25 !important;
                            }
                        }
                        width: var(--mynah-sizing-9);
                        height: var(--mynah-sizing-9);
                        min-width: var(--mynah-sizing-9);
                        min-height: var(--mynah-sizing-9);
                        i {
                            color: var(--mynah-color-gradient-mid);
                            height: var(--mynah-sizing-5);
                            width: var(--mynah-sizing-5);
                            padding-left: 0;
                        }
                    }
                }

                &.no-text ~ .mynah-chat-prompt-button-wrapper > .mynah-chat-prompt-button:not([disabled]),
                & ~ .mynah-chat-prompt-button-wrapper > .mynah-chat-prompt-button[disabled] {
                    pointer-events: none;
                    opacity: 0.25;

                    i {
                        color: var(--mynah-color-text-weak);
                    }
                }
            }
        }

        > .mynah-prompt-input-options {
            margin-bottom: calc(-1 * var(--mynah-sizing-2));
            font-size: 75%;
            &:empty {
                display: none;
            }
            > .mynah-chat-item-form-items-container {
                flex-flow: row nowrap;
                justify-content: flex-end;
                align-items: center;
                gap: var(--mynah-sizing-2);
                > .mynah-form-input-wrapper {
                    > .mynah-form-input-container:not(.no-border) {
                        padding: var(--mynah-sizing-1) var(--mynah-sizing-2);
                    }
                }
            }
        }

        > .mynah-chat-prompt-attachment-wrapper {
            &:empty {
                display: none;
            }

            > .mynah-chat-attachment-item {
                position: relative;
                display: inline-block;
                max-width: 250px;
                cursor: pointer;

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: var(--mynah-card-radius);
                    opacity: 0;
                    transition: var(--mynah-short-transition-rev);
                    z-index: 8000;
                    background-color: var(--mynah-color-alternate);
                }

                > .mynah-chat-attachment-delete-icon {
                    color: var(--mynah-color-alternate-reverse);
                    opacity: 0;
                    transition: var(--mynah-short-transition-rev);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 30px;
                    height: 30px;
                    margin-left: -15px;
                    margin-top: -15px;
                    z-index: 9000;

                    > i {
                        width: 30px;
                        height: 30px;
                    }
                }

                &:hover {
                    &:after {
                        opacity: 0.75;
                    }

                    > .mynah-chat-attachment-delete-icon {
                        opacity: 1;
                    }
                }

                > .mynah-card {
                    pointer-events: none !important;

                    * {
                        pointer-events: none !important;
                    }

                    > .mynah-card-body {
                        display: none;
                    }
                }
            }
        }

        > .mynah-prompt-input-progress-field {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            z-index: 1000;
            display: flex;
            min-width: 100%;
            overflow: hidden;
            justify-content: stretch;
            align-items: stretch;
            background-color: var(--mynah-card-bg);
            > .mynah-progress-indicator-wrapper {
                width: 100%;
            }
            &:not(.no-content)
                ~ .mynah-chat-prompt-input-wrapper
                > .mynah-chat-prompt-input-inner-wrapper
                > .mynah-chat-prompt-input {
                min-height: var(--mynah-line-height);
                max-height: var(--mynah-line-height);
            }
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            max-height: 100%;
            box-sizing: content-box;
            border-radius: inherit;
            box-sizing: border-box;
            transition: var(--mynah-short-transition-rev);
            pointer-events: none;
        }
        &:after {
            opacity: 1;
            border: var(--mynah-border-width) solid var(--mynah-color-border-default);
        }
        &::before {
            opacity: 0;
            @include gradient-border();
        }
    }

    &.input-has-focus > .mynah-chat-prompt {
        &::after {
            opacity: 0;
        }
        &::before {
            opacity: 1;
        }
    }

    &:not(.hidden) + .mynah-chat-wrapper-footer-spacer + .mynah-chat-prompt-input-info {
        padding-top: 0;
    }
    & + .mynah-chat-wrapper-footer-spacer + .mynah-chat-prompt-input-info {
        margin-top: calc(-1 * var(--mynah-sizing-2));
        flex-basis: fit-content;
        flex-shrink: 0;
        flex-grow: 0;
    }
}

> .mynah-chat-prompt-input-sticky-card {
    &:not(:empty) {
        padding-top: var(--mynah-sizing-4);
    }

    > .mynah-chat-item-card {
        max-width: 100%;
        width: 100%;
        > .mynah-card {
            border-bottom-left-radius: var(--mynah-card-radius) !important;
        }
    }
}

> .mynah-chat-prompt-input-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    padding: var(--mynah-sizing-4);
    text-align: center;
    flex-shrink: 0;

    &,
    & * {
        font-size: var(--mynah-font-size-xsmall) !important;
    }

    &:empty {
        display: none;
    }

    > * {
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 100%;
        box-sizing: border-box;
    }
}

@media only screen and (max-height: 450px) {
    > .mynah-chat-prompt-wrapper
        > .mynah-chat-prompt
        > .mynah-chat-prompt-input-wrapper
        > .mynah-chat-prompt-input-inner-wrapper
        > .mynah-chat-prompt-input {
        min-height: var(--mynah-line-height);
        &.empty::before {
            white-space: nowrap;
        }
    }
}
