@import '../../scss-variables';
.mynah-chat-item-card {
    display: inline-flex;
    flex-flow: column nowrap;
    position: relative;
    max-width: 90%;
    min-width: 1%;
    transition: var(--mynah-text-flow-transition);
    transform: translate3d(0, min(50%, 25vh), 0) scale(0.95, 1.25);
    opacity: 0;
    transform-origin: center bottom;
    gap: var(--mynah-sizing-4);

    &-status {
        @each $status in $mynah-statuses {
            &-#{$status} {
                > .mynah-card {
                    border-color: var(--mynah-color-status-#{$status});
                    > .mynah-chat-item-card-icon {
                        color: var(--mynah-color-status-#{$status});
                    }
                }
            }
        }
    }

    &.mynah-chat-item-card-has-icon {
        > .mynah-card {
            padding-left: var(--mynah-sizing-10);
            > .mynah-chat-item-card-icon {
                position: absolute;
                left: var(--mynah-sizing-4);
                transform: translateY(calc(var(--mynah-line-height) / 2 - var(--mynah-border-width) * 2));
            }
        }
    }

    &.mynah-chat-item-hover-effect:hover {
        cursor: pointer;
        transform: translate3d(0, calc(-1 * var(--mynah-sizing-1)), 0);
        > .mynah-card {
            box-shadow: var(--mynah-shadow-card-hover);
        }
    }

    &:hover {
        .mynah-button.mynah-button-flash-by-parent-focus:not(:hover) {
            &,
            &:after {
                animation: flash-main 3s cubic-bezier(0.75, 0, 0.25, 1) infinite forwards;
            }
            animation-name: flash-main;
            &:after {
                animation-name: flash-pseudo;
            }
            &.animate-once {
                &,
                &:after {
                    animation-iteration-count: 1;
                }
            }
        }
    }

    &.reveal {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1, 1);
    }

    &.mynah-chat-item-answer-stream {
        &.typewriter-animating {
            @import 'chat-items-bottom-animator';
        }
    }

    .mynah-chat-item-card {
        max-width: 100%;
        width: 100%;
        min-width: auto;
        padding: var(--mynah-sizing-3) 0 var(--mynah-sizing-3) 0;
        border-top: 1px solid var(--mynah-color-border-default);
        margin-top: var(--mynah-sizing-3);
        padding-bottom: 0;
        .mynah-chat-item-card-related-content > .mynah-chat-item-card-related-content-title {
            font-size: var(--mynah-font-size-large);
        }
    }

    > span.invisible {
        display: none;
    }

    &.mynah-chat-item-code-result {
        min-width: 70%;
    }
    > .mynah-chat-item-card-icon-wrapper {
        background-color: var(--mynah-card-bg);
        border: var(--mynah-border-width) solid var(--mynah-color-border-default);
        color: var(--mynah-color-text-default);
        padding: var(--mynah-sizing-2);
        border-radius: 100%;
    }
    > .mynah-card {
        > .mynah-chat-items-spinner {
            overflow: visible;
            z-index: 10000;
            gap: var(--mynah-sizing-2);
            justify-content: flex-start;
            align-items: center;
            transition: var(--mynah-very-short-transition);
            display: flex;
            > span {
                position: relative;
                display: inline-block;
                width: var(--mynah-sizing-5);
                height: var(--mynah-sizing-5);
                border: var(--mynah-sizing-half) solid rgba(0, 0, 0, 0);
                border-radius: 50%;
                border-top-color: var(--mynah-color-button);
                animation: spinner-spin 1s ease-in-out infinite;
                transform-origin: center center;
                overflow: visible;
                &:before {
                    position: absolute;
                    content: '';
                    top: calc(-1 * var(--mynah-sizing-half));
                    left: calc(-1 * var(--mynah-sizing-half));
                    right: calc(-1 * var(--mynah-sizing-half));
                    bottom: calc(-1 * var(--mynah-sizing-half));
                    width: auto;
                    height: auto;
                    aspect-ratio: 1; // Just to make sure that the spinner is a circle
                    border: var(--mynah-sizing-half) solid var(--mynah-color-button);
                    border-radius: 50%;
                    opacity: 0.15;
                    box-sizing: border-box;
                }
            }
            > div {
                opacity: 1;
            }
        }
        > .mynah-card-body {
            padding: calc(2 * var(--mynah-border-width));
            & > div {
                > .mynah-syntax-highlighter {
                    filter: contrast(1.15) brightness(0.85);
                }

                @for $i from 1 through 4 {
                    h#{$i} {
                        &:first-child {
                            margin-top: 0;
                        }
                    }
                }
            }
            > .mynah-chat-item-card-related-content {
                margin-top: var(--mynah-sizing-3);
                padding-top: var(--mynah-sizing-4);
                border-top: var(--mynah-button-border-width) solid var(--mynah-color-border-default);
                > .mynah-chat-item-card-related-content-title {
                    color: var(--mynah-color-text-weak);
                    font-size: var(--mynah-font-size-xsmall);
                    margin: 0;
                }
                .mynah-source-link-title {
                    font-size: var(--mynah-font-size-small);
                    font-weight: 400;
                }
            }
        }

        > .mynah-chat-item-card-footer {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding-top: var(--mynah-sizing-3);
            border-top: 1px solid var(--mynah-color-border-default);
            > .mynah-ui-chat-item-small-card {
                padding: 0;
                margin: 0;
                border: none;
                flex: 0;
            }
        }
    }

    > .mynah-chat-item-followup-question {
        display: inline-flex;
        flex-flow: column nowrap;
        position: relative;
        gap: var(--mynah-sizing-2);
        > .mynah-chat-item-followup-question-text {
            color: var(--mynah-color-text-weak);
            font-size: var(--mynah-font-size-xsmall);
            font-style: italic;
        }
        > .mynah-chat-item-followup-question-options-wrapper {
            display: inline-flex;
            flex-flow: row wrap;
            max-width: 100%;
            gap: var(--mynah-sizing-1);
            > .mynah-chat-item-followup-question-option {
                color: var(--mynah-color-text-default);
                &:not(:hover) {
                    opacity: 0.75;
                }
            }
        }
    }

    .mynah-chat-item-card-related-content {
        display: flex;
        flex-flow: column nowrap;
        gap: var(--mynah-sizing-2);
        overflow: hidden;
        position: relative;
        > .mynah-chat-item-card-related-content-item {
            max-width: 100%;
            > .mynah-card {
                padding: 0;
                border-radius: 0;
                box-shadow: none;
            }
            .amzn-mynah-search-result-highlight {
                background-color: inherit;
                color: inherit;
            }
        }
        &:not(.expanded) {
            > .mynah-chat-item-card-related-content-item {
                $maxItems: 1;
                $selector: '&';
                @for $i from 1 through $maxItems {
                    $selector: #{$selector} + ':not(:nth-of-type(' + #{$i} + '))';
                }
                #{$selector} {
                    display: none;
                }
                &:nth-of-type(#{$maxItems}) {
                    margin-bottom: calc(-1 * var(--mynah-sizing-4));
                    pointer-events: none;
                    @include list-fader-bottom(var(--mynah-sizing-12));
                    mask-image: linear-gradient(to top, transparent var(--mynah-sizing-1), black 70%);
                    -webkit-mask-image: linear-gradient(to top, transparent var(--mynah-sizing-1), black 70%);
                }
                &:nth-of-type(#{$maxItems + 1}) {
                    & ~ .mynah-chat-item-card-related-content-show-more {
                        display: flex;
                    }
                }
            }
        }

        > .mynah-chat-item-card-related-content-show-more {
            display: none;
            max-width: 80%;
            z-index: 10000;
            margin-block-start: 0;
            margin-block-end: 0;
            align-self: center;
            height: var(--mynah-sizing-8);
            filter: none;
            > span,
            > i {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: var(--mynah-font-size-xsmall);
            }
        }
    }
    &.mynah-chat-item-system-prompt,
    &.mynah-chat-item-prompt {
        align-self: flex-end;
        > .mynah-chat-item-card-icon-wrapper {
            align-self: flex-end;
            margin-bottom: calc(-2 * var(--mynah-sizing-1));
            background-color: var(--mynah-card-bg-alternate);
            color: var(--mynah-color-text-alternate);
        }
        .mynah-chat-item-followup-question,
        .mynah-chat-item-card-related-content {
            align-items: flex-end;
        }

        .mynah-syntax-highlighter {
            > .mynah-syntax-highlighter-copy-buttons {
                display: none;
            }
        }

        .mynah-chat-item-card-related-content > .mynah-card,
        > .mynah-card {
            padding: var(--mynah-sizing-4);
            background-color: var(--mynah-card-bg-alternate);
            border-bottom-right-radius: var(--mynah-card-radius-corner);
            &,
            > .mynah-card-body {
                color: var(--mynah-color-text-alternate);
                overflow-wrap: break-word;
            }
        }
        .mynah-chat-item-card-related-content > .mynah-card {
            border: none;
        }
    }
    &.mynah-chat-item-system-prompt {
        > .mynah-card {
            background-color: var(--mynah-color-status-warning);
        }
    }

    &.mynah-chat-item-empty > .mynah-card:empty {
        display: none;
    }
    &.mynah-chat-item-answer-stream.mynah-chat-item-empty.stream-ended {
        display: none;
    }
    &.mynah-chat-item-answer,
    &.mynah-chat-item-code-result,
    &.mynah-chat-item-answer-stream {
        > .mynah-card {
            border-bottom-left-radius: var(--mynah-card-radius-corner);
            max-height: 100%;
            flex: 1;
        }
    }
    &.mynah-chat-item-ai-prompt,
    &.mynah-chat-item-answer,
    &.mynah-chat-item-answer-stream {
        > .mynah-chat-item-card-icon-wrapper {
            align-self: flex-start;
            margin-bottom: calc(-2 * var(--mynah-sizing-1));
            background-color: var(--mynah-card-bg);
            border: var(--mynah-border-width) solid var(--mynah-color-border-default);
            color: var(--mynah-color-text-default);
        }
        > .mynah-chat-item-card-related-content {
            > .mynah-chat-item-card-related-content-item > .mynah-card-compact {
                opacity: 1;
                > .mynah-source-link-header {
                    opacity: 1;
                }
            }
        }
    }

    &.mynah-ui-chat-item-inline-card {
        &.mynah-chat-item-card-has-icon {
            > .mynah-card {
                padding-left: var(--mynah-sizing-3);
                > .mynah-chat-item-card-icon {
                    left: 0;
                }
            }
        }
    }

    &.mynah-ui-chat-item-small-card {
        &,
        & * {
            font-size: var(--mynah-font-size-small);
        }
    }

    @import 'chat-item-card-information-card';
}
