@import '../../mixins';
.mynah-chat-command-selector {
    display: flex;
    box-sizing: border-box;
    background-color: var(--mynah-card-bg);
    border-radius: var(--mynah-card-radius);
    width: 100%;
    pointer-events: all;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    max-height: 80vh;
    overflow-x: hidden;
    padding: var(--mynah-sizing-4);
    overflow-y: auto;
    @include list-fader-bottom();
    > .mynah-chat-command-selector-group {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: flex-start;
        gap: var(--mynah-sizing-1);
        font-size: var(--mynah-font-size-medium);
        > .mynah-chat-command-selector-group-title {
            margin: 0;
            color: var(--mynah-color-text-strong);
            padding: 0 var(--mynah-sizing-3);
            margin-bottom: var(--mynah-sizing-1);
            position: relative;
            border-radius: var(--mynah-input-radius);
            overflow: hidden;
        }

        & + .mynah-chat-command-selector-group {
            margin-top: var(--mynah-sizing-2);
            padding-top: var(--mynah-sizing-4);
            border-top: var(--mynah-border-width) solid var(--mynah-color-border-default);
        }

        > .mynah-chat-command-selector-command {
            display: flex;
            position: relative;
            box-sizing: border-box;
            width: 100%;
            flex-flow: row nowrap;
            align-items: flex-start;
            justify-content: flex-start;
            overflow: hidden;
            cursor: pointer;
            padding: var(--mynah-sizing-2) var(--mynah-sizing-3);
            color: var(--mynah-color-text-default);
            border-radius: var(--mynah-input-radius);
            transition: var(--mynah-short-transition-rev);
            gap: var(--mynah-sizing-3);

            &[disabled='true'] {
                &::before {
                    border-color: transparent !important;
                }
                opacity: 0.5;
                &,
                & * {
                    pointer-events: none;
                }
            }
            &:hover:not([disabled='true']),
            &.target-command:not([disabled='true']) {
                background-color: var(--mynah-color-button);
                &,
                & * {
                    color: var(--mynah-color-button-reverse);
                    .mynah-chat-command-selector-command-description {
                        color: var(--mynah-color-button-reverse);
                        opacity: 0.65;
                    }
                }
            }
            > .mynah-ui-icon {
                margin-top: var(--mynah-sizing-1);
                font-size: var(--mynah-font-size-small);
                color: var(--mynah-color-text-weak);
            }

            > .mynah-chat-command-selector-command-container {
                flex: 1;
                display: flex;
                position: relative;
                box-sizing: border-box;
                flex-flow: column nowrap;
                align-items: flex-start;
                justify-content: flex-start;
                overflow: hidden;
                gap: var(--mynah-sizing-1);

                > .mynah-chat-command-selector-command-name {
                    font-family: var(--mynah-font-family);
                    font-weight: bold;
                    flex: 0 1 0%;
                }
                > .mynah-chat-command-selector-command-description {
                    color: var(--mynah-color-text-weak);
                    flex: 1 0 100%;
                }
            }
        }
    }

    &:not(.has-target-item) {
        > .mynah-chat-command-selector-group:first-child {
            > .mynah-chat-command-selector-command:first-of-type {
                &:before {
                    content: '';
                    z-index: -1;
                    border: calc(2 * var(--mynah-border-width)) solid var(--mynah-color-button);
                    box-sizing: border-box;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                }
            }
        }
    }
}
